<div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

  <div id="product-price">
    <h6 class="product-section-title"><%= t('price') %></h6><%= t('unitary_price') %>
    <div><span class="price selling" itemprop="price"><%= price_with_context(@product, params)  %></span></div>
  </div>
  <div class="add-to-cart">

    <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
        <%= number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
                             1, :class => 'title', :in => 1..@product.on_hand, :type => "hidden" %>
        &nbsp;
        <%= button_tag :class => 'large primary', :id => 'add-to-cart-button' do %>
            <%= t('add_to_cart') %>
        <% end %>
    <% else %>
        <%= content_tag('strong', t('out_of_stock')) %>
    <% end %>
  </div>

</div>