<% content_for :sidebar do %>

    <div id="sidebar_filters">
        <%= form_tag({:controller => :taxons, :action => :show}, {:method => :get, :id => "search_sidebar"}) do %>
            <div id="title_sidebar_filters">
                <p><%= t('filter_by') %>:</p>
            </div>
            <% properties_to_filter = get_properties_to_filter(@taxon) %>
            <div id="body_sidebar_filters">
               <p><%= t('name') %></p>
               <%= text_field_tag 'name', params[:name], :class => 'filter-name' %>
               <% properties_to_filter.first.each do |p| %>
                  <%# list = Spree::ProductProperty.includes?(:translations).where(:property_id => p.id).order(:value) %>
                  <% list = p.product_properties.order(:value) %>
                  <% values = list.map(&:value).uniq %>
                  <% if p.to_filter == true && values.count > 1 %>
                    <p><%= p.presentation %></p>
                    <ul>
                      <% values.each do |v| %>
                        <% if !v.nil? %>
                            <% check_name = "feature-#{p.name}-#{v}" %>
                            <li><label><%= check_box_tag check_name, params[check_name], !params[check_name].nil? %> <%= v %></label></li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
               <% end %>
               <% if properties_to_filter.count > 1 && properties_to_filter.last.count != 0 %>
                  <p><%= t('include') %></p>
                  <ul>
                    <% properties_to_filter.last.each do |p| %>
                      <% if p.to_filter == true %>
                        <% check_name = "include-#{p.name}" %>
                        <li><label><%= check_box_tag check_name, params[check_name], !params[check_name].nil? %> <%= p.presentation %></label></li>
                      <% end %>
                    <% end %>
                  </ul>
              <% end %>
            </div>
            <div id="buttons_sidebar_filters">
              <%= hidden_field_tag "id", taxon.permalink %>
              <div id="icon-apply-search"></div>
              <%= submit_tag t('apply'), :class => "apply-search" %>
              <input type="button" class="clear-search" onclick="clear_search('search_sidebar')" value="<%= t('delete') %>"/>
              <div id="icon-clear-search"></div>
            </div>
        <% end %>
    </div>

<% end %>


