<% content_for :sidebar do %>
<div id="sidebar_valorados">
  <% if !@popular_products.nil? %>
      <div class="mas_valorados_sidebar four">
        <div class="title_valorados_products">
          <ul>
            <li><%=image_tag('store/img_trans.gif', :size => "1x1", :class=>"left_valorados v-background-position-#{many_color(taxon)}")%></li>
            <li><p><%= t('popular') %></p></li>
          </ul>
        </div>

        <div class="listado_valorados border-<%= many_color(taxon) %>" >
          <% @popular_products.each_with_index do |product, index| %>

              <ul data-hook="preview_row" >
                <li id="number_val">
                  <%= index + 1 %>
                </li>
                <li id="name_val">
                  <% if product.program? || product.tour? || product.accommodation? %>
                    <p>
                      <%= link_to product_path(product) do%>
                        <span itemprop="name"><%= product.name %></span>
                      <% end %>
                    </p>
                  <% elsif product.room? %>
                      <p>
                        <%= link_to product_path(product.parent) do%>
                            <span itemprop="name"><%= product.name %></span>
                        <% end %>
                      </p>
                  <% else %>
                    <% product_taxon = product.taxons.where("permalink like 'categories%'").first %>
                      <% if !product_taxon.nil? %>
                          <p>
                            <%= link_to nested_taxons_path(product_taxon.permalink) do%>
                                <span itemprop="name"><%= product.name %></span>
                            <% end %>
                          </p>
                      <% end %>
                  <% end %>
                  <ul id="opinion">
                    <% if product.room? %>
                        <li class="icon-tripadvisor-<%= product.parent.get_stars[:star].to_s.gsub(".", "-")%>"></li>
                        <li class="product-info-value"><%= product.parent.get_stars[:rcount]%> <%=t('opinions')%></li>
                    <% else %>
                        <li class="icon-tripadvisor-<%= product.get_stars[:star].to_s.gsub(".", "-")%>"></li>
                        <li class="product-info-value"><%= product.get_stars[:rcount]%> <%=t('opinions')%></li>
                    <% end  %>
                  </ul>
                </li>
                <li id="price_val">
                  <p><%= price_with_context(product, params)  %></p>
                </li>
              </ul>

          <% end %>
        </div>
      </div>
  <% end %>
</div>
<% end %>




