<li id="product_<%= product.id %>" class="show-out" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">

    <div id="block-one" class="four columns">
      <div class="product-image">
        <%= product_image_index(product) %>
      </div>
    </div>

    <div id="block-two" class="eight columns">
      <div id="head-one" class="eight columns alpha" >
        <ul id="information">
          <li class="product-name-no-link" itemprop="name"><%= t('category') %> <%= product.name %></li>
        </ul>
      </div>

      <div id="head-two" class="eight columns alpha" >
        <ul id="product-head">
          <li class="rent">
            <ul class="product-data">
              <li class="icon-door" title="<%= t('doors') %>"></li>
              <li><%= get_vat(product, 'puertas', 'int') %></li>
            </ul>
          </li>
          <li class="rent">
            <ul class="product-data">
              <li class="icon-pax" title="<%= t('persons') %>"></li>
              <li><%= get_vat(product, 'cantidad-de-personas', 'int') %></li>
            </ul>
          </li>
          <li class="rent">
            <ul class="product-data">
              <li class="icon-bag" title="<%= t('bags') %>"></li>
              <li><%= get_vat(product, 'cantidad-de-maletas', 'int') %></li>
            </ul>
          </li>
          <% if get_vat(product, 'aire-acondicionado') %>
              <li class="rent">
                <ul class="product-data">
                   <li class="icon-ac" title="<%= t('air_conditioner') %>"></li>
                </ul>
              </li>
          <% end %>
          <li class="rent">
            <ul class="product-data">
              <li class="icon-check"></li>
              <li class="product-info"><%= get_vat(product, 'combustible', 'str') %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="box-ida" class="description-transfer eight columns alpha">
        <ul>
          <li class="icon-destination"></li>
          <li>
            <ul class="product-data">
              <li class="product-info"><%= t('avaiable_in_all_destinies')%></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="rent-cart">
        <%= render(:partial => "spree/products/cart_form", :locals => { :product => product, :type => "rent" }) %>
      </div>

    </div>
  </li>
