<div id="reviews" class='columns eleven'>
  <ul id="review-header">
    <li id="icon-coments"></li>
    <li><p id='reviews_title'><%= t('reviews') %></p></li>
  </ul>
    <% unless @product.reviews.approved.blank? %>
        <% for review in @product.reviews.approved.page(params[:page]).per(Spree::Config[:preview_size]) %>
            <%= render :partial => 'spree/shared/review', :locals => {:review => review} %>
        <% end %>
    <% end %>
	<div class="pagination">
		<div class="results"><%= paginate @product.reviews.approved.page(params[:page]).per(Spree::Config[:preview_size]) %></div>
	</div>
	<% if !Spree::Config[:require_login] || current_user %>
		<% if !Spree::Config[:form_show] %>
			<%= link_to(t('write_your_own_review'), new_product_review_path(@product), :class => "button-review", :rel => "nofollow,noindex") %>
		<% else %>
			<%= render "spree/reviews/new", :review => Spree::Review.new(:product => @product), :product => @product %>
		<% end %>
    <% else %>
      <div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review"><%= t("no_reviews_found") %></div>
	<% end %>
	<div id="new_review"></div>
	<span class="clear"></span>
</div>
<%= javascript_include_tag 'store/review/index.js' %>
<%= javascript_include_tag 'store/review/new.js' %>