<!--<style type="text/css">
    .banner img {
        width: 690px;
        height: 165px;
    }
</style>

<div id="back-breadcrumbs" class="container">
  <div id="header-breadcrumbs">
    <%#= breadcrumbs(@taxon) %>
    <div id="end-breadcrumbs">
      <%#= content_tag(:span, t('Organice_su_viaje')) %>
    </div>
  </div>
</div>-->

<div id="header-slider-filters" class="row">
  <% if (@taxon) %>
      <div id="header-tax-image">
        <%= insert_banner(:category => "#{@taxon.name}") %>

        <ul id="taxon-nav">
          <li class="main-name"><%= @taxon.name %></li>
          <% Spree::Taxon.joins(:taxonomy).where('parent_id' => Spree::Taxon.where(:name => @taxon.name)).each do |taxon| %>
              <li id=<%= "#{taxon.name.downcase}-link" %> data-hook><%= link_to taxon.name, spree.nested_taxons_path(taxon.permalink), :class => "top_link" %>
              </li>
          <% end %>
        </ul>
      </div>
  <% else %>
      <div id="header-slider">
        <%= render 'spree/shared/slider' %>
      </div>
  <% end %>
</div>

