<table class="index">
  <thead>
    <tr data-hook="use_billing">
      <th colspan="8">
        <%= name %>
      </th>
    </tr>
  </thead>
  <tbody id="<%=  t('pax_contacts') %>" style="display:inline;" data-hook="guest_contact_fields">
    <tr class="guest-contact-row">
      <td class="lbl-col">
        <%= f.label :first_name, t('first_name') + ':' %>
      </td>
      <td class="val-col" colspan="3"><%= f.text_field :first_name %></td>
      <td class="lbl-col">
        <%= f.label :last_name, t('last_name') + ':' %>
      </td>
      <td class="val-col" colspan="3"><%= f.text_field :last_name %></td>
    </tr>
    <tr class="guest-contact-row">
      <td class="lbl-col">
        <%= f.label :special_capacity, t('special_capacity') + ':' %>
      </td>
      <td colspan="3"><%= f.check_box :special_capacity, :class => "fullwidth" %></td>
      <td class="lbl-col">
        <%= f.label :sex, t('sex') + ':' %>
      </td>
      <td colspan="3"><%= f.select :sex, Spree::PaxContact::SEX, :class => "fullwidth" %></td>
    </tr>
    <tr class="guest-contact-row">
      <td class="lbl-col">
        <%= f.label :birth, t('birth') + ':' %>
      </td>
      <td colspan="3"><%= f.text_field :birth, :size =>"10", :class => "birthdatepicker" %></td>
    </tr>
  </tbody>
</table>
