<div class="left" data-hook="admin_product_form_left">
    <%= f.field_container :name do %>
      <%= f.label :name, t('name') %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :permalink do %>
      <%= f.label :permalink, t('permalink') %> <span class="required">*</span><br />
      <%= f.text_field :permalink, :class => 'fullwidth title' %>
      <%= f.error_message_on :permalink %>
    <% end %>

  <%= f.field_container :small_description do %>
      <%= f.label :small_description, t('small_description') %><br />
      <%= f.text_area :small_description, {:cols => 60, :rows => 2} %>
      <%= f.error_message_on :small_description %>
  <% end %>

    <%= f.field_container :description do %>
      <%= f.label :description, t('description') %><br />
      <%= f.cktext_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
      <%= f.error_message_on :description %>
    <% end %>
</div>
