<tr <%= "style='color: red;'" if product.deleted? %> id="<%= dom_id product %>" data-hook="admin_products_index_rows">
  <td><%= product.name rescue '' %></td>
  <td><%= number_to_currency product.price rescue '' %></td>
  <td><%= product.category %></td>
  <td><%= product.destination %></td>
  <td class="actions" data-hook="admin_products_index_row_actions">
    <%= link_to_edit product, :class => 'edit' unless product.deleted? %> <br/>
    <%= link_to_clone product, :class => 'clone' %> <br/>
    <%= link_to_delete product unless product.deleted? %> <br/>
  </td>


