<p class="openerp">
  <%= f.label :longitude, t('longitude') %><br />
  <%= f.number_field :longitude %>
</p>

<p class="openerp">
  <%= f.label :latitude, t('latitude') %><br />
  <%= f.number_field :latitude %>
</p>

<p class="openerp">
  <%= f.label :recomended, t('recomended') %><br />
  <%= f.check_box :recomended %>
</p>

