<%
  variant = line_item.variant
  product = variant.product
  first_column = []
  second_column = []
  index = 0
  product.context_option_types.each do |cot|
    index += 1
    option_type_name = cot.name
    option_value = line_item.context.get_persisted_option_value(option_type_name, :presentation)
    string = "<b>#{cot.presentation}</b>: #{option_value}"
    if index.odd?
      first_column << string
    else
      second_column << string
    end
  end

  variant.option_values.each do |ov|
    index += 1
    option_type_name = ov.option_type.name
    option_value = ov.presentation
    string = "<b>#{ov.option_type.presentation}</b>: #{option_value}"
    if index.odd?
      first_column << string
    else
      second_column << string
    end
  end
-%>

<%= order_form.fields_for :line_items, line_item do |item_form| -%>
    <tr class="line-item">
      <td class="cart-item-image" data-hook="cart_item_image">
        <% if variant.images.length == 0 %>
            <%= link_to small_image(variant.product), variant.product %>
        <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
        <% end %>
      </td>

      <td class="cart-item-description" data-hook="cart_item_description">
        <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
        <%#= variant.options_text %>
        <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
        <% end %>
        <span class="line-item-description" data-hook="line_item_description">
        <%= line_item_description_text(line_item.description) %>
      </span>
      </td>


      <td class="cart-item-values" data-hook="cart_item_values">
        <%= first_column.join("<br>\n").html_safe %>
      </td>
      <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
        <%= second_column.join("<br>\n").html_safe %>

      </td>

      <td class="lead text-primary cart-item-total" data-hook="cart_item_total">
        <%= item_form.hidden_field :quantity, :class => 'line_item_quantity' %>
        <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
      </td>

    <td class="cart-item-delete" data-hook="cart_item_delete">
      <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
    </td>
    <div>
    </div>
  </tr>

<% end -%>


