<div id="details" class="two columns" >

  <% new_params = params.clone %>
  <%= link_to new_params.merge!({:controller => :products, :action => :show , :id => product.permalink}), :class => "go-to-detail-button" do %>
      <ul id="product-detail-icon">
        <li class="icon-detail" />
      </ul>
      <ul id="product-detail-text">
        <li class="product-text-button"><%= t('details') %></li>
      </ul>
  <% end %>

  <%= form_for :order, :url => populate_orders_url do |f| %>
      <%# var = product.variant_with_context(params) %>
      <%
         if controller.controller_name == "taxons"
           taxon = product.taxons.where("permalink like 'categories%'").first
           current_path = nested_taxons_path(taxon.permalink)
         else
           current_path = root_path
         end
      %>
      <%= hidden_field_tag  "url_before_cart", current_path %>
      <% if product.hotel? && variant %>
        <%= hidden_field_tag  "variants[#{variant.id}]", 1, :class => 'title' %>
        <%= hidden_field_tag  "contexts[#{variant.id}]", pass_context(product, variant, params) %>
        <%# values = {}  %>
        <div data-hook="product_price">
          <div class="add-to-cart">
            <%= button_tag :class => 'add-to-cart-button' do %>
                <ul id="product-buy-icon">
                  <li class="icon-buy" />
                </ul>
                <ul id="product-buy-text">
                  <li class="product-text-button"><%= t('add') %></li>
                </ul>
            <% end %>
          </div>
        </div>
      <% elsif variant %>
        <%= hidden_field_tag  "variants[#{variant.id}]", 1, :class => 'title' %>
        <%= hidden_field_tag  "contexts[#{variant.id}]", pass_context(product, variant, params) %>
        <%# values = product.values_for_customization(params)  %>
        <div data-hook="product_price">
          <div class="add-to-cart">
                <%= button_tag :class => 'primary add-to-cart-button' do %>
                    <ul id="product-buy-icon">
                      <li class="icon-buy" />
                    </ul>
                    <ul id="product-buy-text">
                      <li class="product-text-button"><%= t('add') %></li>
                    </ul>
                <% end %>
          </div>
        </div>

<% end %>
  <% end %>


</div>
