<div data-hook="product_description" id="product-description">

    <h1 class="product-title" itemprop="name"> <%= accurate_title %> </h1>

    <% if @product.room? %>
      <h6 class="product-section-title"><%= t('hotel') %></h6>
      <%= @product.parent.name %>
    <% end %>

    <div data-hook="product_description" itemprop="description">
        <h6 class="product-section-title"><%= t('description') %></h6>
        <%= product_description(@product) rescue t('product_has_no_description') %>
    </div>

    <% for title in @property_hash['right_item'].keys %>
        <h6 class="product-section-title"><%= title %></h6>
        <%-
            count   = @property_hash['right_item'][title].count
            current = 0
            columns = 3
        %>
        <table class="property_list">
            <tr>
                <% for product_property in @property_hash['right_item'][title] %>
                    <% current += 1 %>
                    <td class="property_item"><%= product_property.property.presentation %></td>
                    <% if current % columns == 0 && current != count %>
            </tr>
            <tr>
                    <% end %>
                <% end %>
            </tr>
        </table>
    <% end %>

    <% for title in @property_hash['right_desc'].keys %>
        <h6 class="product-section-title"><%= title %></h6>
        <ul class="product_list">
            <% for product_property in @property_hash['right_desc'][title] %>
                <li>
                    <strong><%= product_property.property.presentation %></strong>:
                    <%= product_property.value %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @product.children.length > 0 %>
        <h6 class="product-section-title"><%= t('rooms') %></h6>
        <ul id="rooms" class="inline room-listing">
            <% for child in @product.children %>
                <li id="product_<%= child.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
                    <div class="product-image">
                        <%= link_to small_image(child), child %>
                      <% unless @product.part_of_package? %>
                          <span class="price selling" itemprop="price"><%= number_to_currency child.price, :precision => 0  %></span>
                      <% end %>
                    </div>
                    <div class="product-text">
                        <%= link_to child.name, child, :class => 'info' %>  <br>
                        <%= truncated_description child, 250 %> <br>
                    </div>
                    <%= form_for :order, :url => populate_orders_url do |f| %>
                        <%= hidden_field_tag "variants[#{@product.main_variant.id}]", 1 %>
                        <%= button_tag :class => 'primary', :id => 'add-to-cart-button' do %>
                            <%= t('add_to_cart') %>
                        <% end %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>

  <% if @product.room? %>
    <div id="cart-form" data-hook="cart_form">
        <%= render :partial => "cart_form" %>
    </div>
  <% end %>
</div>
