<ul id="products" >
  <% products_related.each do |product| %>
    <li id="product_<%= product.id %>"  class="columns alpha omega eleven show-in" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div id="block-one-room" class="columns alpha four">
          <div class="product-image">
            <%= product_image_index(product) %>
          </div>
        </div>

        <div id="block-two-room" class="columns omega seven">
            <% category = get_category(product) %>
            <div id="head-one" class="columns alpha omega seven" >
              <% new_params = params.clone %>
              <%= link_to new_params.merge!({:controller => :products, :action => :show , :id => product.permalink}), {:class => "product-name" } do %>
                <span itemprop="name"><%= truncate(product.name, :length => 35, :omission => "...") %></span>
              <% end %>
            </div>
            <div id="head-two" class="columns alpha omega seven" >
                <ul id="product-head">
                    <li>
                      <ul class="product-data">
                        <li class="icon-calendar"></li>
                        <li class="product-info-value"><%= get_property_value(product, "#{category}-days") %> <%= t('days') %></li>
                      </ul>
                    </li>
                    <!--<li>
                        <ul class="product-data">
                          <li class="icon-destination"></li>
                          <li><%#= my_destination(product) %></li>
                        </ul>
                    </li>-->
                    <!--<li>-->
                      <!--<%# all_destinations(product).each do |d| %>-->
                        <!--<ul class="product-data">-->
                          <!--<%# #TODO: aparecer y desaparecer los distintos destinos %>-->
                          <!--<li class="icon-destination"></li>-->
                          <!--<li><%#= link_to d.name, nested_taxons_path(d.permalink), :id => d.permalink.split('/')[-1], :class => "product-link" %></li>-->
                        <!--</ul>-->
                      <!--<%# end %>-->
                    <!--</li>-->
                    <li>
                        <ul class="product-data">
                            <% if get_vat(product, "#{category}-flight") %>
                              <li class="icon-airplane"></li>
                            <% end %>
                            <% if get_vat(product, "#{category}-accommodation") %>
                              <li class="icon-hotel"></li>
                            <% end %>
                            <% if get_vat(product, "#{category}-transfer") %>
                              <li class="icon-car"></li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <ul class="product-data">
                            <li class="icon-tripadvisor-<%= product.get_stars[:star].to_s.gsub(".", "-")%>"></li>
                            <li class="product-info-value"><%= product.get_stars[:rcount]%> <%= opinion(product.get_stars[:rcount]) %></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="description" class="columns alpha omega seven product-text" itemprop="description" >
                <%= truncate( product.small_description.gsub(/<[^>]*>/,'')  , :length => 200, :omission => "...") %>
            </div>

            <%= render(:partial => "spree/shared/product_list_price_detail", :locals => { :product => product, :type => category}) %>

            <div class="columns omega three">
                <ul id="options">
                    <% product.properties[0..2].each do |p| %>
                        <% if p.property_type_id == Spree::PropertyType.find_by_name("#{category} Include").id and p.presentation.length < 30 %>
                          <li><ul class="three columns alpha product-option"><li class="icon-check"></li><li class="product-info"><%= p.presentation %></li></ul></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </li>
  <% end %>
</ul>

