<ul id="products" >
  <% products_related.each do |product| %>
        <% a = product.taxons.where("permalink like '%destinations%'")[0] %>
        <% b = product.taxons.where("permalink like '%destinations%'")[1] %>

        <%
           round_trip = false
           option_value = Spree::OptionValue.find_by_name("trip-round-trip")
           for variant in product.variants_including_master
             if variant.option_values.include?(option_value)
               round_trip = true
               break
             end
           end
        %>

        <li id="product_<%= product.id %>" class="columns alpha omega eleven show-in" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
          <div id="block-one-transfer-in" class="columns alpha four">
            <div class="columns alpha two product-image-transfer">
              <%= if !a.nil? and !a.icon.nil?
                    image_tag a.icon.url(:height)
                  end %>
            </div>
            <div class="columns omega product-image-transfer">
              <%= if !b.nil? and !b.icon.nil?
                    image_tag b.icon.url(:height)
                  end %>
            </div>
          </div>

          <div id="block-two-transfer" class="columns omega seven">
            <div id="head-one-transfer" class="columns alpha omega seven">
              <ul>
                <li class="tng-feat">
                  <p class="product-name-no-link" itemprop="name"><%= truncate(product.name.split('-')[0], :length => 20, :omission => "...") %> - <%= truncate(product.name.split('-')[1], :length => 20, :omission => "...") %></p>
                  <div class="country">
                    <% country = get_country(a) %>
                    <img src="/assets/store/flags/<%= country[0] %>.png" ></img>
                    <p><%= country[1] %></p>
                  </div>
                </li>
                <!--<li><div class="triangulo-izq"></div></li>-->
                <!--<li><div class="triangulo-der"></div></li>-->
                <!--<li><p class="product-name-no-link" itemprop="name"><%#= truncate(product.name.split('-')[1], :length => 20, :omission => "...") %></p></li>-->
              </ul>
            </div>

            <div id="box-ida" class="columns alpha omega seven description-transfer product-text">
              <ul>
                <li>
                  <ul class="columns alpha omega seven">
                    <li><div class="triangulo-izq"></div></li>
                    <li class="ida-vuelta-text"><%= t('leave') %></li>
                    <li class="destino-ida-flight tng-feat"><%= product.name.split('-')[0] %></li>
                    <li class="tng-feat">-</li>
                    <li class="destino-ida-vuelta-text"><%= product.name.split('-')[1] %></li>
                    <li><%= t('all_days') %></li>
                  </ul>
                </li>
              </ul>
            </div>

            <% if round_trip %>
                <div id="box-vuelta" class="columns alpha omega seven description-transfer product-text">
                  <ul>
                    <li>
                      <ul class="columns alpha omega seven">
                        <li><div class="triangulo-izq"></div></li>
                        <li class="ida-vuelta-text"><%= t('return') %></li>
                        <li class="destino-ida-flight tng-feat"><%= product.name.split('-')[1] %></li>
                        <li class="tng-feat">-</li>
                        <li class="destino-ida-vuelta-text"><%= product.name.split('-')[0] %></li>
                        <li><%= t('all_days') %></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            <% end %>

            <%#= render(:partial => "spree/products/cart_form", :locals => { :product => product }) %>


            <!-- TODO: esto no esta en el lugar original porque hace fala modificar el tamanno -->
            <div class="row">
              <%= form_for :order, :url => populate_orders_url do |f| %>
                  <% data_context = variant_and_price_with_context(product, params, "transfer")
                     variant = !data_context.nil? ? data_context['variant'] : nil
                     price = !data_context.nil? ? data_context['price'] : nil
                     values = !data_context.nil? ? data_context['customization'] : {}

                     if controller.controller_name == "taxons"
                       taxon = product.taxons.where("permalink like 'categories%'").first
                       current_path = nested_taxons_path(taxon.permalink)
                     elsif controller.controller_name == "products"
                       # TODO: revisar este link con raul, es probable que haya que pasarle los params de alguna forma
                       current_path = "/products/" + product.permalink
                     else
                       current_path = root_path
                     end
                  %>
                  <% if var = product.variant_with_context(params) %>
                      <%= hidden_field_tag  "variants[#{variant.id}]", 1, :class => 'title' %>
                      <%= hidden_field_tag  "contexts[#{variant.id}]", pass_context(product, variant, params) %>
                      <div id="price" class="columns two alpha" >
                        <p class="product-price"><%= price_with_context(product, params) %> </p>
                      </div>
                      <div class="columns four" data-hook="product_price">
                        <%= button_tag :id => "cart-form-button", :class => 'primary columns alpha omega four add-to-cart-button' do %>
                            <ul class="cart-form-left"><li class="icon-viaje"/></ul>
                            <ul class="cart-form-right"><li class="product-detail-text-button"><%= t('add_to_my_travel') %></li></ul>
                        <% end %>
                      </div>
                  <% end %>

              <% end %>
            </div>



          </div>
        </li>

  <% end %>
</ul>