<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div id="head-detail-one" class="twelve columns omega" >
    <ul id="product-name">
      <li><p class="product-detail-name" itemprop="name"><%= accurate_title.split(' | ')[0] %></p></li>
    </ul>
  </div>
  <div id="head-two" class="twelve columns omega" >
    <ul id="product-head">
      <li>
        <ul class="product-data">
          <li class="icon-hotel"></li>
          <li><%= link_to product.parent.name, product.parent %></li>
          <li class="icon-stars-<%= product.parent.product_properties.where(:property_id => Spree::Property.find_by_name('stars')).first.value%>"></li>
        </ul>
      </li>
      <li>
        <ul class="product-data">
          <li class="icon-destination"></li>
          <li><%= my_destination(product) %></li>
        </ul>
      </li>
      <li>
        <ul class="product-data">
          <li class="icon-tripadvisor-<%= product.get_stars[:star].to_s.gsub(".", "-")%>"></li>
          <li class="product-info-value"><%= product.get_stars[:rcount]%> <%= opinion(product.get_stars[:rcount]) %></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="columns five" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
      </div>

    </div>
  </div>

  <div class="columns seven omega" data-hook="product_right_part">
    <div id="detail-accommodation-description" class="row" data-hook="product_right_part_wrap">

      <!--<p class="product-detail-title-description"><%#= t(:description) %></p>-->
      <ul id="amenities-description" class="columns alpha omega six" >
          <li><label><%= t('level_of_service') %>: </label><p><%= get_property_value(product, 'nivel-de-servicio') %></p></li>
          <li><label><%= t('propoerty') %>: </label><p><%= get_property_value(product, 'tipo-de-propiedad') %></p></li>
          <li><label><%= t('confort') %>: </label><p><%= get_property_value(product, 'confort') %></p></li>
          <li><label><%= t('view') %>: </label><p><%= get_property_value(product, 'vista') %></p></li>
          <!--<li><label><%#= t('ubication') %>: </label><p><%#= get_property_value(product, 'ubicacion') %></p></li>-->
      </ul>

    </div>
  </div>

</div>