<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <% country =  taxon.permalink.split('/').length == 2 ? true : false %>
  <% if country %>
     <div id="head-detail-one" class="twelve columns omega" >
        <ul id="product-name">
          <li><p class="product-destination-name" itemprop="name"><%= accurate_title %></p></li>
          <li id="destination-flag">
            <% iso = Spree::Country.find_by_name(product.name).iso.downcase %>
            <img src="/assets/store/flags/<%= iso %>.png" ></img>
          </li>
        </ul>
     </div>
  <% else %>
      <div id="head-detail-one" class="twelve columns omega" >
        <ul>
          <li><p class="product-detail-name" itemprop="name"><%= accurate_title %></p></li>
        </ul>
      </div>
      <div id="head-two" class="twelve columns omega" >
        <ul id="product-head">
          <li style="padding-left: 0px;">
            <ul class="product-data">
              <li>
                <%
                   taxon_destination = product.taxons.where(:taxonomy_id => Spree::Taxon.find_by_permalink('destinations').taxonomy_id).first
                   if taxon_destination
                     taxon_country = Spree::Taxon.find_by_permalink("destinations/#{taxon_destination.permalink.split('/')[1]}")
                   else
                     taxon_country = Spree::Taxon.find_by_permalink("destinations/cuba")
                   end
                %>
                <% iso = Spree::Country.find_by_name(taxon_country.name).iso.downcase %>
                <img src="/assets/store/flags/<%= iso %>.png" ></img>
              </li>
              <li>
                <% product_country = Spree::Product.find_by_name(taxon_country.name) %>
                <%= link_to product_country.name, nested_taxons_path(taxon_country.permalink), :class => "product-link" %></li>
            </ul>
          </li>
        </ul>
      </div>
  <% end %>

  <div class="columns five" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'spree/products/image' %>
        </div>
      </div>

    </div>
  </div>

  <div class="columns seven omega" >
    <div id="detail-description" class="row" >

      <!--<p class="product-detail-title-description"><%#= t(:description)%></p>-->
      <p class="product-detail-description" itemprop="description" >
        <% if product.small_description %>
            <% good_small_description = ActiveSupport::Multibyte::Unicode.tidy_bytes(product.small_description) %>
            <%= truncate( good_small_description.html_safe, :length => 450, :omission => "...", :class => "product-detail-description") %>
        <% end %>
      </p>
      <div id="more">
        <a href="#" onclick="loginOverlay('backdescription', 'backlogin')"><div class="icon-more"></div></a>
      </div>

    </div>
  </div>

</div>

<div id="backdescription" class="back_overlay" >
  <div class="contentWrap-description" id="overlaydescription">
    <div id="full-description">
      <div class="head_login">
        <h6 class="title_user"><%= product.name %></h6>
        <a href="#" onclick="closeOverlay('backdescription')" class="close-login"><%= t('close') %></a>
      </div>
      <div id="pfd" itemprop="description">
        <br><br>
        <% good_description = ActiveSupport::Multibyte::Unicode.tidy_bytes(product.description.to_s) %>
        <%= good_description.html_safe %>
      </div>
      <!--<a href="#" onclick="closeOverlay('backdescription')" class="close-login"><%#= t(:close) %></a>-->
    </div>
  </div>
</div>