<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div id="head-detail-one" class="twelve columns omega" >
    <ul id="product-name">
      <li><p class="product-detail-name" itemprop="name"><%= accurate_title %></p></li>
    </ul>
  </div>
  <div id="head-two" class="twelve columns omega" >
    <ul id="product-head">
      <li>
        <ul class="product-data">
          <li class="icon-calendar"></li>
          <li class="product-info-value"><%= get_property_value(product, 'programs-days') %> <%= t('days') %></li>
        </ul>
      </li>
      <li>
        <ul class="product-data">
          <li class="icon-destination" title="<%= t('destination') %>"></li>
          <li><%= my_destination(product) %></li>
        </ul>
      </li>
      <li>
        <ul class="product-data">
          <% if get_vat(product, "#{get_category(product)}-flight") %>
              <li class="icon-airplane" title="<%= t('flights') %>"></li>
          <% end %>
          <% if get_vat(product, "#{get_category(product)}-accommodation") %>
              <li class="icon-hotel" title="<%= t('accommodation') %>"></li>
          <% end %>
          <% if get_vat(product, "#{get_category(product)}-transfer") %>
              <li class="icon-car" title="<%= t('transfer') %>"></li>
          <% end %>
        </ul>
      </li>
      <li>
        <ul class="product-data">
          <li class="icon-tripadvisor-<%= product.get_stars[:star].to_s.gsub(".", "-")%>"></li>
          <li class="product-info-value"><%= product.get_stars[:rcount]%> <%= opinion(product.get_stars[:rcount]) %></li>
        </ul>
      </li>
    </ul>
  </div>

  <!--<div class="columns five" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">-->

  <div class="columns five" >
    <div class="row">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
      </div>

    </div>
  </div>

  <div class="columns seven omega" >
    <div id="detail-description" class="row" >

        <!--<p class="product-detail-title-description"><%#= t(:description) %></p>-->
        <p class="product-detail-description" itemprop="description">
          <% good_small_description = ActiveSupport::Multibyte::Unicode.tidy_bytes(product.small_description.to_s) %>
          <%= truncate( good_small_description.html_safe, :length => 450, :omission => "...") %>
        </p>
        <div id="more">
          <a href="#" onclick="loginOverlay('backdescription', 'backlogin')"><div class="icon-more"></div></a>
        </div>

    </div>
  </div>

</div>


<div id="backdescription" class="back_overlay" >
  <div class="contentWrap-description" id="overlaydescription">
    <div id="full-description">
      <div class="head_login">
        <h6 class="title_user"><%= product.name %></h6>
        <a href="#" onclick="closeOverlay('backdescription')" class="close-login"><%= t('close') %></a>
      </div>
      <div id="pfd" itemprop="description">
          <br><br>
          <% good_description = ActiveSupport::Multibyte::Unicode.tidy_bytes(product.description.to_s) %>
          <%= good_description.html_safe %>
      </div>
      <!--<a href="#" onclick="closeOverlay('backdescription')" class="close-login"><%#= t(:close) %></a>-->
    </div>
  </div>
</div>