<% @order.line_items.first.paxes.find_each do |pax| %>
    <p class="columns alpha six field" id="bfirstname">
      <%= label_tag :first_name, t('first_name') %><span class="req">*</span><br />
      <%= text_field_tag "order[line_items_attributes][paxes_attributes][][first_name]", nil, :class => 'required' %>
    </p>
    <p class="columns omega six field" id="blastname">
      <%= label_tag :last_name, t('last_name') %><span class="req">*</span><br />
      <%= text_field_tag "order[line_items_attributes][paxes_attributes][][last_name]", nil ,:class => 'required' %>
    </p>
    <%= hidden_field_tag "order[line_items_attributes][paxes_attributes][][id]", pax.id %>
<% end %>
<%= submit_tag 'Save and Continue' %>
