<div class="row">
  <% @order.line_items.each do |line_item, index1| %>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0 h5">
          <%= line_item.product.name %>
        </h3>
      </div>
      <div class="card-body">
        <%= form.fields_for :line_items do |line_item_form| %>
          <%= line_item_form.fields_for :paxes do |pax| %>

            <div class="form-group">
              <%= pax.label :first_name %><span class="required">*</span>
              <%= pax.text_field :first_name, class: 'form-control required', required: 'required' %>
            </div>
            <div class="form-group">
              <%= pax.label :last_name %><span class="required">*</span>
              <%= pax.text_field :last_name, class: 'form-control required', required: 'required' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>
</div>