<table class="index" id='listing_properties' data-hook>
  <thead>
    <tr data-hook="listing_properties_header">
      <th><%= t('name') %></th>
      <th><%= t('presentation') %></th>
      <th><%= t('type') %></th>
      <th><%= t('action') %></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr id="<%= dom_id property %>" data-hook="listing_properties_row">
        <td><%= property.name %></td>
        <td><%= property.presentation %></td>
        <td><%= property.property_type ? property.property_type.name : '--' %></td>
        <td class="actions">
          <%= link_to_edit(property, :class => 'edit') %>
          &nbsp;
          <%= link_to_delete(property) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


