<!--<h3 class="taxon-title"><%#= accurate_title %></h3>-->
<%
 a = 1
 p = @products
%>

<% if @taxon.permalink.start_with?('destinations') %>

    <% @destination = Spree::Product.find_by_permalink(@taxon.permalink.gsub('/', '-')) %>
    <% if @destination %>
      <%= render :partial => 'spree/shared/show_destinations', :locals => {:product => @destination, :taxon => @taxon} %>
    <% else %>
        <%= t('no_product_for_destination') %>
    <% end %>

<% else %>

    <% content_for :sidebar do %>
        <div data-hook="taxon_sidebar_navigation">
          <%# if !@taxon.permalink.start_with?('things-to-do') && @taxon.permalink != 'categories/cars-and-transfers' && !@taxon.permalink.start_with?('categories/flights') %>
          <% if @taxon.permalink.start_with?('categories/programs') || @taxon.permalink.start_with?('categories/tours') || @taxon.permalink.start_with?('categories/accommodation') || @taxon.permalink == 'categories/cars-and-transfers/rent-cars' %>
            <%= render :partial => 'spree/shared/filters', :locals => { :taxon => @taxon } %>
          <% end %>
          <%= render :partial => 'spree/shared/promotion_products', :locals => { :taxon => @taxon } %>
          <% if @recomended_product.count > 0 %>
            <%= render :partial => 'spree/shared/recomendation', :locals => { :taxon => @taxon, :recomended_product => @recomended_product } %>
          <% end %>
          <% permalink_list = ['programs', 'tours', 'accommodation', 'things-to-do'] %>
          <% if permalink_list.include?(@taxon.permalink.split('/')[1]) %>
            <%= render :partial => 'spree/shared/popular_products', :locals => { :taxon => @taxon } %>
          <% end %>
          <%= render :partial => 'spree/home/facebook', :locals => { :taxon => @taxon } %>
        </div>
    <% end %>

    <div id="taxon_products" data-hook="taxon_products">
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    </div>

<% end %>




