<div data-hook="admin_product_rates_form_fields" class="row">
  <div class="ten columns row">
    <div class="alpha four columns fullwidth"><%= label_tag :variant, Spree.t(:variant), :class => 'pull-right' %></div>
    <div class="six columns omega"><%= select_tag 'rate[variant_id]', options_for_select(@product.variants.map { |v| [v.sku, v.id] }, @rate.variant_id), :class => 'select2 fullwidth' %></div>
  </div>
  <% for ot in @product.rate_option_types %>
  <div class="ten columns row">
    <div class="alpha four columns"><%= label_tag ot.name, Spree.t(ot.presentation), :class => 'pull-right' %></div>
    <div class="six columns omega">
      <% current_value = @rate.get_option_value(ot) %>
      <% if ot.attr_type == 'selection' %>
        <%= select_tag ot.name, options_for_select(ot.option_values.map { |ov| [ov.presentation, ov.id] }, current_value), :class => 'select2 fullwidth' %>
      <% elsif ot.attr_type == 'integer' %>
        <%= number_field_tag ot.name, current_value, :class => 'two columns'%>
      <% elsif ot.attr_type == 'float' %>
        <%= number_field_tag ot.name, current_value, :class => 'two columns'%>
      <% elsif ot.attr_type == 'boolean' %>
        <%= check_box_tag ot.name, 1 %>
      <% elsif ot.attr_type == 'date' %>
        <%= text_field_tag ot.name, current_value, :class => 'datepicker two columns' %>
      <% else %>
        <%= text_field_tag ot.name, current_value, :class => 'fullwidth' %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
