<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: :rates} %>

<% content_for :page_title do %>
<%= Spree.t(:rate) %>
<% end %>

<% content_for :page_actions do %>
  <span id="new_product_type_link">
      <%= button_link_to Spree.t(:new_rate), new_admin_product_rate_path, { class: "btn-success", icon: 'add', id: 'admin_new_rate_link' }  %>
    </span>
<% end %>

<table class="table" id='listing_rates'>
  <thead>
    <tr data-hook="rate_<%= @product_type_name %>_header">
      <% @product_option_types.each do |option_type| %>
        <th><%= option_type.name %></th>
      <% end %>
      <% @product_rate_option_types.each do |rate_option_type| %>
      <th><%= rate_option_type.presentation %></th>
      <% end %>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @product_rates.each do |rate| %>
    <tr>
      <% @product_option_types.each do |option_type| %>
        <td><%= rate.variant.option_value(option_type.name) %></td>
      <% end %>
      <% @product_rate_option_types.each do |rate_option_type| %>
        <td><%= rate.persisted_option_value(rate_option_type.name) %></td>
      <% end %>
      <td class="actions">
      <!-- TODO fix bug regarding the links redirecting to some crazy url -->
	      <%= link_to_edit(rate, no_text: true, class: 'admin_edit_rate') %>
	      <%= link_to_delete(rate, no_text: true) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>