<%= form_for review, :url => product_reviews_path(product), :html => {:id => "reviews_form"}, :remote => true do |f| %>
    <%= render :partial => "spree/shared/error_messages", :locals => {:target => review} %>

    <ul id="write-header">
      <li id="new_review_icon"></li>
      <li><p id="reviews_title2"><%= t("reviews_rating.write") %> <%= t("reviews_rating.a_review") %></p></li>
    </ul>

    <div class="review_name_field">
		<%= f.label :name, t("reviews_rating.name") %> <span class="required">*</span><br />
		<%= f.text_field :name %>
	</div>
	<div class="review_review_field">
		<%= f.label :review, t("reviews_rating.review") %> <span class="required">*</span>
		<!--<p id="note_review" class="s_legend"><%#= t("reviews_rating.note_review_description") %></p>-->
         <!--<span><%#= t("reviews_rating.note_reviews") %></span> -->
        <%= f.text_area :review, :wrap => "virtual", :rows => "8", :cols => "25" %>
	</div>
	
	<div class="review_rating_field">
	    <%= f.label :rating, t("reviews_rating.rating") %> <span class="required">*</span><br />
		<%= render :partial => "spree/reviews/stars" %>
		<%= f.hidden_field :rating %>
	</div>

    <div class="review_captcha_field">
	    <%= text_field_tag :captcha, params[:captcha] %>
	</div>

    <%= link_to content_tag(:span, t("reviews_rating.continue"), :class => "s_text"), "javascript: void(0)", :class => "review_submit" %>
    <!--<div id="details" class="two columns" >
        <%#= link_to "javascript: void(0)", :class => "go-to-detail-button review_submit" do %>
            <ul id="product-detail-icon">
              <li class="icon-send-review" />
            </ul>
            <ul id="product-detail-text">
              <li class="product-text-button"><%#= content_tag(:span, t("reviews_rating.continue"), :class => "s_text") %></li>
            </ul>
        <%# end %>
    </div>-->

<% end %>
