
<h6><%= t(:other_variants)%></h6>
<table>
  <thead>
    <tr data-hook="other_variants_table_header">
      <th><%=Spree.t(:image)%></th>
      <th><%=Spree.t(:variant)%></th>
    </tr>
  </thead>
  <tbody data-hook="other_variants_table_body">
    <% for variant in @product.variants %>
        <tr>
          <td class="image-holder">
            <%
              image = variant.images.first()
            %>
            <% if image %>
              <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
            <% else %>
              <%= product_image(variant, :itemprop => "image") %>
            <% end %>
          </td>
          <td>
            <%= variant.sku %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>