<%
  #because a javascript in app/assets/javascripts/spree/frontend/travel_product.js:102
  #we may need to create another JS for the list view or search results view
%>

<% product ||= @product %>

<%= form_for :order, html: { id: "travel-add-to-cart-form-#{product.id}" } do |f| %>
  <div id="inside-product-cart-form-<%=product.id%>" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if product.price_in(current_currency) and !product.price.nil? %>
      <%= hidden_field_tag :quantity, 1 %>
      <div data-hook="product_price" class="mini-cart ">
        <span class="inside-room-cart-form-<%=variant_id%>-<%=rate_id ? rate_id : "null"%>" >
          <input type="hidden" id="template-hidden-<%=variant_id%>-<%=rate_id ? rate_id : "null"%>" >
          <%= hidden_field_tag :variant_id, variant_id %>
          <%= hidden_field_tag :product_id, product.id %>
          <%= hidden_field_tag :rate_id, rate_id if rate_id%>
          <%= hidden_field_tag :price, price%>
          <% product_type = params['product_type'] %>
          <%= hidden_field_tag('product_type', product_type) if product_type%>
          <% product_type_params = params.select {|k| k.start_with?(product_type + '_') }%>
          <% product_type_params.each do |param| %>
             <%= hidden_field_tag param[0], param[1] %>
          <%end%>
        </span>
        <%= button_tag :class => 'btn btn-success', :id => "travel-add-to-cart-button-#{product.id}", :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
        <% end %>
      </div>
    <% else %>
      <div id="product-price">
        <div>
          <span class="price selling" itemprop="price">
            <%= Spree.t('product_not_available_in_this_currency') %>
          </span>
        </div>
      </div>
    <% end %>

    </div>
<% end %>
