<div class="columns alpha omega twelve" data-hook="billing_fieldset_wrapper">
  <% number_pax = 0
     dict = {}
     @order.line_items.each do |li|
       cant_pax = li.pax_for_checkout
       cant_pax.times { dict[number_pax += 1] = li.product }
     end
     number_pax = 1
  %>

  <%= form.fields_for :pax_contacts do |pax| %>
    <p id="pax-title" class="cart-body-title"><%= t('information') + ' ' + t('pax') + ' ' + number_pax.to_s  %> : <%= dict[number_pax].name%></p>
    <div class="inner" data-hook="billing_inner">
      <p class="columns alpha six field" id="bfirstname">
        <%= pax.label :first_name, t('first_name') %><span class="req">*</span><br />
        <%= pax.text_field :first_name, :class => 'required' %>
      </p>
      <p class="columns omega six field" id="blastname">
        <%= pax.label :last_name, t('last_name') %><span class="req">*</span><br />
        <%= pax.text_field :last_name, :class => 'required' %>
      </p>
      <p class="columns alpha six field" id="bphone">
        <%= pax.label :birth, t('birth') %><span class="req">*</span><br />
        <%= pax.text_field :birth, :size =>"15", :class => 'required birthdatepicker date' %>
      </p>
      <p class="columns omega six field" id="bzipcode">
        <%= pax.label :sex, t('sex') %><span class="req">*</span><br />
        <%= pax.select :sex, Spree::PaxContact::SEX, :class => 'required' %>
      </p>
      <%# if dict[number_pax].transfer? %>
          <!--<p class="columns omega six field" id="btransferplace">-->
            <%#= pax.label :place, t('place') %><!--<span class="req">*</span><br />-->
            <!--<%#= pax.text_field :place, :class => 'required' %>-->
          <!--</p>-->
          <!--<p class="columns omega six field" id="btransfertime">-->
            <%#= pax.label :time, t('time') %><!--<span class="req">*</span><br />-->
            <!--<%#= pax.text_field :time, :class => 'required' %>-->
          <!--</p>-->
      <%# end %>
    </div>
    <% number_pax += 1 %>
  <% end %>
</div>

<hr class="clear" />
<div class="form-buttons" data-hook="buttons">
</div>

<div id="cart-sac-button" class="columns omega four" data-hook="buttons">
  <ul class="button-checkout-left"><li id="icon-sac"/></ul>
  <ul class="button-checkout-right padding-button-2"><li id="text-checkout"><%= submit_tag t('save_and_continue'), :id => 'sac-button' %></li></ul>
</div>
