<% content_for :sidebar do %>

    <div id="cart-summary" class="columns alpha four">
      <ul id="cart-list-summary" >
        <li class="cart-summary-header"><p><%= t('order_summary') %></p></li>
        <li class="cart-summary-count">(<%= @order.products.count %> <%= t('product') %><% if @order.products.count > 1 %>s<% end %>)</li>
        <li class="cart-summary-price-1">
          <p><%= t('item_total') %></p>
          <p id="text-item-summary"><%= price(@order.item_total) %></p>
        </li>
        <% price_total = @order.item_total %>
        <% if @order.adjustments.present? && @order.adjustments.eligible.count > 0 %>
            <% price_total = @order.total %>
            <li id="summary-order-charges" class="cart-summary-price-1" >
              <% @order.adjustments.eligible.each do |adjustment| %>
                  <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
                  <p><%= adjustment.label %></p>
                  <p id="text-adjustment-summary"><%= price(adjustment.amount) %></p>
              <% end %>
            </li>
        <% end %>
        <li class="cart-summary-price-2">
          <p><%= t('order_total') %></p>
          <p id="text-order-summary"><%= price(price_total) %></p>
        </li>
      </ul>
    </div>

<% end %>