<div data-hook="admin_option_type_form_fields" class="align-center row">
  <div class="alpha six columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="six columns">
    <%= f.field_container :presentation do %>
      <%= f.label :presentation, Spree.t(:presentation) %> <span class="required">*</span><br />
      <%= f.text_field :presentation, :class => "fullwidth" %>
      <%= f.error_message_on :presentation %>
    <% end %>
  </div>

  <!-- TODO: Revisar el select2, que no se ve bonito -->
  <div class="omega four columns">
    <%= f.field_container :attr_type do %>
      <%= f.label :attr_type, Spree.t(:attr_type) %> <span class="required">*</span><br />
      <%= f.select :attr_type, ['selection', 'float', 'string', 'integer', 'date', 'boolean'], {}, :class => "fullwidth select2" %>
      <%= f.error_message_on :attr_type %>
    <% end %>
  </div>

</div>
