<table class="table table-bordered line-items" data-hook="line-items">
  <thead>
  <th colspan="2"><%= Spree.t(:name) %></th>
  <th class="text-center"><%= Spree.t(:pax) %></th>
  <th class="text-center"><%= Spree.t(:price) %></th>
  <th class="text-center"><%= Spree.t(:quantity) %></th>
  <th class="text-center"><%= Spree.t(:total_price) %></th>
  <th class="orders-actions text-center" data-hook="admin_order_form_line_items_header_actions"></th>
  </thead>
  <tbody>
  <% order.line_items.each do |item| %>
      <tr class="line-item" id="line-item-<%= item.id %>">
        <td class="line-item-image image text-center">
          <%= mini_image(item.variant) %>
        </td>
        <td class="line-item-name text-center" style="text-align: left;">
          <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
          <%if item.variant.product.product_type %>
              <%product_type = item.product.product_type.name%>
              <%= hidden_field_tag 'product_type_' + item.id.to_s, product_type%>
              <%item.product.product_type.context_option_types.each do |cot|%>
                  <div>
                    <strong><%= cot.presentation%></strong>:
              <span class="context-option-type-show" data-attribute="<%=cot.name%>">
                <%= item.context.get_mixed_option_value(cot.name, temporal:false)%><br/>
              </span>
              <span class="context-option-type-edit is-hidden" data-attribute="<%=cot.name%>">
                <% tag_name = product_type + '_' + cot.name.to_s + '_' + item.id.to_s%>
                <% if cot.attr_type == 'date' %>
                  <%= text_field_tag tag_name, item.context.get_mixed_option_value(cot.name, temporal:false), class: "#{product_type}_inputs datepicker"%><br/>
                <% elsif cot.attr_type == 'integer'%>
                  <%= number_field_tag tag_name, item.context.get_mixed_option_value(cot.name, temporal:false), class: "#{product_type}_inputs", :min => 0 %><br/>
                <%else%>
                  <%= text_field_tag tag_name, item.context.get_mixed_option_value(cot.name, temporal:false), class: "#{product_type}_inputs"%><br/>
                <%end%>
              </span>
                  </div>
              <%end%>

          <%end%>
        </td>
        <td class="line-item-pax text-center">
          <%if item.variant.product.product_type %>
              <% item.paxes.each do |p| %>
                  <div>
                    <%= p.first_name %>
                    <%= p.last_name %>
                    <%= link_to_with_icon 'delete', Spree.t('delete'), "#", :class => 'delete-line-item btn btn-danger btn-sm', :data => { 'line-item-id' => item.id, :action => 'remove'}, :title => Spree.t('delete'), :no_text => true %>
                  </div>
              <% end %>
              <%= link_to_with_icon 'add', Spree.t('add'), "#", :class => 'add-line-item btn btn-success btn-sm', :data => { 'line-item-id' => item.id, :action => 'add'}, :title => Spree.t('add'), :no_text => true %>
          <%end%>
        </td>
        <td class="line-item-price text-center"><%= item.single_money.to_html %></td>
        <td class="line-item-qty-show text-center">
          <%= item.quantity %>
        </td>
        <td class="line-item-qty-edit is-hidden">
          <%= number_field_tag :quantity, item.quantity, :min => 0, :class => "line_item_quantity form-control", :size => 5 %>
        </td>
        <td class="line-item-total text-center"><%= line_item_shipment_price(item, item.quantity) %></td>
        <td class="cart-line-item-delete actions actions-4 text-center" data-hook="cart_line_item_delete">
          <% if can? :update, item %>
              <%= link_to_with_icon 'arrow-left', Spree.t('actions.cancel'), "#", :class => 'cancel-line-item btn btn-default btn-sm', :data => {:action => 'cancel'}, :title => Spree.t('actions.cancel'), :style => 'display: none', :no_text => true %>
              <%= link_to_with_icon 'save', Spree.t('actions.save'), "#", :class => 'save-line-item btn btn-success btn-sm', :no_text => true, :data => { :'line-item-id' => item.id, :action => 'save'}, :title => Spree.t('actions.save'), :style => 'display: none' %>
              <%= link_to_with_icon 'edit', Spree.t('edit'), "#", :class => 'edit-line-item btn btn-primary btn-sm', :data => {:'line-item-id' => item.id, :action => 'edit'}, :title => Spree.t('edit'), :no_text => true %>
              <%= link_to_with_icon 'delete', Spree.t('delete'), "#", :class => 'delete-line-item btn btn-danger btn-sm', :data => { 'line-item-id' => item.id, :action => 'remove'}, :title => Spree.t('delete'), :no_text => true %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

