<li id="product_<%= product.id %>" class="show-out" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <div id="block-one" class="four columns">
      <div class="product-image">
       <%= product_image_index(product) %>
      </div>
    </div>
    <div id="block-two" class="eight columns">
      <div id="head-one" class="eight columns alpha" >
        <ul id="information">
          <li>
            <% new_params = params.clone %>
				<%= link_to new_params.merge!({:controller => :products, :action => :show , :id => product.permalink}), {:class => "product-name" } do%>
				  <span itemprop="name"> <%= truncate(product.name, :length => 35, :omission => "...")%> </span>
				<% end %>
          </li>
          <li class="icon-stars-<%= product.product_properties.where(:property_id => Spree::Property.find_by_name('stars')).first.value %>"></li>
        </ul>
        <% if product.recomended == true %>
            <div id="icon-recomended-accommodation" title="<%= t('recomended') %>"></div>
        <% end %>
      </div>
      <div id="head-two" class="eight columns alpha" >
        <ul id="product-head">
          <li>
            <ul class="product-data">
              <li class="icon-destination"></li>
              <li><%= my_destination(product) %></li>
            </ul>
          </li>
          <li>
            <ul class="product-data">
              <li class="icon-tripadvisor-<%= product.get_stars[:star].to_s.gsub(".", "-")%>"></li>
              <li class="product-info-value"><%= product.get_stars[:rcount]%> <%= opinion(product.get_stars[:rcount]) %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="description" class="eight columns alpha product-text" itemprop="description" >
        <%= truncate( product.small_description.to_s.gsub(/<[^>]*>/,'')  , :length => 200, :omission => "...") %>
      </div>

      <%= render(:partial => "spree/shared/product_list_price_detail", :locals => { :product => product, :type => "accommodation"}) %>

      <div class="four columns omega">
        <ul id="options">
          <% product.properties[0..2].each do |p| %>
              <% if p.property_type_id == Spree::PropertyType.find_by_name("General Services").id and p.presentation.length < 40 %>
                  <li><ul class="four columns alpha product-option"><li class="icon-check"></li><li class="product-info"><%= p.presentation %></li></ul></li>
              <% end %>
          <% end %>
        </ul>
      </div>

    </div>
  </li>
