<% if (controller.controller_name == "user_sessions" && controller.action_name == "new"  ) %>
    <%# aqui no va nada %>

<% elsif (controller.controller_name == "taxons" && controller.action_name == "show"  )  %>
    <% if @taxon.taxonomy.name == "Destinations"  %>
        <div id="header-slider-detail" class="row">
          <div id="header-product-detail">
            <% product = Spree::Product.find_by_name(@taxon.name) %>
            <%= render :partial => 'spree/products/show_head_destinations', :locals => { :product => product, :taxon => @taxon } %>
          </div>
          <%= render :partial => 'spree/shared/search_box' %>
        </div>
    <% else %>
        <div id="header-slider-filters" class="row">
          <div class="columns alpha twelve">
              <div id="header-taxon" class="<%= many_color(@taxon) %>">
                <%= insert_banner(:category => "#{@taxon.permalink.split('/')[-1]}") %>
                <ul id="taxon-nav">
                  <li class="main-name"><%= @taxon.name %></li>
                </ul>
              </div>
              <div id="paginate-information" class="columns alpha omega twelve">
                <p><%= t('showing') %> <%= @total > @per_page.to_i ? @per_page : @total %> <%= t('of')%> <%= @total %> <%= t('results') %></p><% if !params["info"].nil? %><p> | <%= params["info"]%> </p> <% end %>
                <% new_params = params.clone
                   new_params.delete(:items_per_page)
                %>
                <%= form_tag( new_params.merge!({:controller => :taxons, :action => :show, :page => 1}), :class => 'locale', :id => 'form-order-by') do %>
                    <label id="label-order-by"><%= t('order_by')%>
                      <%= select_tag :sort, options_for_select([[t('updated'), 'updated_desc'], [t('recomended'), 'recomended_desc'], [t('name'), 'name_asc']], @order_by), :onchange => 'this.form.submit()' %>
                    </label>
                    <%= submit_tag 'submit' %>
                    <%= javascript_tag "$('.locale input').hide();" %>
                <% end %>
                <%= form_tag( new_params.merge!({:controller => :taxons, :action => :show, :page => 1}), :class => 'locale', :id => 'form-per-page') do %>
                    <label id="label-per-page"><%= t('show')%>
                        <%= select_tag :items_per_page, options_for_select([10, 20, 30, 50, 100], @per_page), :onchange => 'this.form.submit()' %>
                    </label>
                    <%= submit_tag 'submit' %>
                    <%= javascript_tag "$('.locale input').hide();" %>
                <% end %>
              </div>
          </div>
          <%= render :partial => 'spree/shared/search_box' %>
        </div>
    <% end %>
<% elsif (controller.controller_name == "products" && controller.action_name == "show"  )  %>
   <div id="header-slider-detail" class="row">
    <div id="header-product-detail">
      <%= product_show_distributer( @product, TRUE ) %>
    </div>
    <%= render :partial => 'spree/shared/search_box', :locals => {:product => @product }%>
   </div>
    <!--TODO revisar esto despues-->
<% elsif (controller.controller_name == "home" && controller.action_name == "index" ) %>  <!-- && params[:keywords].nil? -->
    <div id="header-slider-filters" class="row">
      <!---------------------------------Slider------------------------------->
      <div id="header-slider" class="slider">
        <%= render 'spree/shared/slider' %>
      </div>
      <!---------------------------------Filter------------------------------->
      <%= render :partial => 'spree/shared/search_box' %>
    </div>
<% elsif (controller.controller_name == "promos" && controller.action_name == "index"  ) %>
    <div id="header-slider-filters" class="row">
      <div id="header-slider" class="promotion">
        <%= insert_banner(:category => "offers") %>
        <ul id="taxon-nav">
          <li class="main-name"><%= t('offers') %></li>
        </ul>
      </div>
      <!---------------------------------Filter------------------------------->
      <%= render :partial => 'spree/shared/search_box' %>
    </div>
<% end %>
