  <div class="left">
    <%= f.field_container :title do %>
        <%= f.label :title, t('title') %> <span class="required">*</span><br />
        <%= f.text_field :title, :class => 'fullwidth title' %>
        <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :slug do %>
        <%= f.label :slug, t('slug') %> <span class="required">*</span><br />
        <%= f.text_field :slug, :class => 'fullwidth title' %>
        <%= f.error_message_on :slug %>
    <% end %>

    <%= f.field_container :body do %>
        <%= f.label :body, t('body') %><br />
        <%= f.cktext_area :body, {:class => 'fullwidth'} %>
        <%= f.error_message_on :body %>
    <% end %>

    <%= f.field_container :meta_title do %>
        <%= f.label :meta_title, t('meta_title') %><br />
        <%= f.text_field :meta_title, :class => 'fullwidth title' %>
        <%= f.error_message_on :meta_title %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
        <%= f.label :meta_keywords, t('meta_keywords') %><br />
        <%= f.text_field :meta_keywords, :class => 'fullwidth title' %>
        <%= f.error_message_on :meta_keywords %>
    <% end %>

    <%= f.field_container :meta_description do %>
        <%= f.label :meta_description, t('meta_description') %><br />
        <%= f.text_field :meta_description, :class => 'fullwidth title' %>
        <%= f.error_message_on :meta_description %>
    <% end %>

  </div>
