    <div class="row steps-data">

  <div id="contact-info" class="columns alpha six" style="margin: 0px; padding: 10px 0px 0px 0px;">
    <!--<h6><%#= t('contact_information') %> <%#= link_to "(#{t('order_total')})", checkout_state_path(:address) unless @order.completed? %></h6>-->
    <p class="cart-body-title"><%= t('contact_information') %></p>
    <div class="address">
        <%= order.bill_address.firstname %> <%= order.bill_address.lastname %> <br/>
        <%= order.bill_address.phone %>
    </div>
  </div>

  <div id="pax-info" class="columns omega six" style="margin: 0px; padding: 10px 0px 0px 0px;">
    <!--<h6><%#= t('pax_info') %> <%#= link_to "(#{t('order_total')})", checkout_state_path(:pax) unless @order.completed? %></h6>-->
    <p class="cart-body-title"><%= t('pax_information') %></p>
    <div class="delivery">
      <% order.pax_contacts.each do |pc| %>
          <%= pc.first_name %> <%= pc.last_name %><br/>
      <% end %>
    </div>
  </div>

</div>

<hr />

<table id="cart-detail" class="columns alpha twelve" data-hook>
  <thead>
  <tr data-hook="cart_items_headers">
    <th id="cart-items-header-name" class="cart-body-title" colspan="4"><%= t('products_to_buy') %></th>
    <th id="cart-items-header-price" class="cart-body-title"><%= t('price') %></th>
  </tr>
  </thead>
  <tbody id="line_items" data-hook>
      <% @order.line_items.each do |item| %>
          <tr id="cart-item-separator-top"></tr>
          <tr id="cart-item" class="<%= cycle('', 'alt') %> line-item" data-hook="order_details_line_item_row">
            <td  id="cart-item-image" data-hook="order_item_image">
              <% if item.product.flight? || item.product.transfer? %>
                  <% a = item.product.taxons.where("permalink like '%destinations%'")[0] %>
                  <% b = item.product.taxons.where("permalink like '%destinations%'")[1] %>
                  <div class="item-half-image">
                    <%= if !a.nil? and !a.icon.nil?
                          image_tag a.icon.url(:height)
                        end %>
                  </div>
                  <div class="item-half-image">
                    <%= if !b.nil? and !b.icon.nil?
                          image_tag b.icon.url(:height)
                        end %>
                  </div>
              <% else %>
                  <div id="item-image">
                    <% if !item.product.images.empty? %>
                        <%= link_to image_tag(item.product.images.first.attachment.url(:list)), item.product %>
                    <% else %>
                        <%= image_tag 'store/no_imagen_72x72.png' %>
                    <% end %>
                  </div>
              <% end %>
            </td>
            <td class="cart-item-separator"></td>
            <td id="cart-item-description" data-hook="order_item_description">
              <p class="cart-item-name"><%= item.product.name %></p>
              <!--<p><%#= link_to item.product.name, product_path(item.product), :class => "cart-item-name" %></p>-->
              <p id='cart-item-product-description'>
                <% if item.product.room? %>
                    <%#= truncate(item.product.parent.small_description.gsub(/<[^>]*>/,''), :length => 200, :omission => "...") %>
                    <%= item.context.html_safe %>
                <% else %>
                    <%#= truncate(item.product.small_description.html_safe, :length => 200, :omission => "...") %>
                    <%= item.context.html_safe %>
                <% end %>
              </p>
            </td>
            <td class="cart-item-separator"></td>
            <td id="cart-item-price" data-hook="order_item_price">
              <div id="price" class="columns alpha omega three" >
                <%= item.context[:adult_programs] %>
                <p class="product-price"><%= price(item.price) %></p>
              </div>
            </td>
          </tr>
          <tr id="cart-item-separator-bottom"></tr>


      <% end %>
  </tbody>
</table>