<div class="atracciones_destinos">
    <div id="atracciones">
      <ul class="title_atracciones">
        <li><img class="left_atracciones"/></li>
        <li><p>atracciones</p></li>
        <li><img class="rigth_atracciones"/></li>
      </ul>
      <ul class="products_atracciones">
        <li>
          <ul>
           <li><%= image_tag("store/prodIconr.png", :height => '70', :width => '94') %></li>
           <li class="name_atracciones">Producto 1</li>
           <li class="name_destino">Habana vieja</li>
           <li class="icon_info">
              <img/>
              <%= link_to "detalles", root_path %>
           </li>
          </ul>
          <p>Categoria>>Subcategoria</p>
        </li>
        <li>
          <ul>
            <li><%= image_tag("store/prodIconr.png", :height => '70', :width => '94') %></li>
            <li class="name_atracciones">Producto 1</li>
            <li class="name_destino">Habana vieja</li>
            <li class="icon_info">
              <img/>
              <%= link_to "detalles", root_path %>
            </li>
          </ul>
          <p>Categoria>>Subcategoria</p>
        </li>
        <li>
          <ul>
            <li><%= image_tag("store/prodIconr.png", :height => '70', :width => '94') %></li>
            <li class="name_atracciones">Producto 1</li>
            <li class="name_destino">Habana vieja</li>
            <li class="icon_info">
              <img/>
              <%= link_to "detalles", root_path %>
            </li>
          </ul>
          <p>Categoria>>Subcategoria</p>
        </li>
      </ul>
    </div>

    <div id="destinos">
      <ul class="title_destinos">
        <li><img class="left_destinos"/></li>
        <li><p>destinos</p></li>
        <li><img class="rigth_destinos"/></li>
      </ul>
      <ul class="products_destinos">
        <% get_group_preview[1].each do |product| %>
         <li><%= image_tag("store/prodIconr.png", :height => '70', :width => '94') %><%= product.name %></li>
        <% end %>
      </ul>
    </div>
</div>


