<li id="product_<%= product.id %>" class="show-out" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <div id="block-one" class="four columns">
      <div class="product-image">
        <%= product_image_index(product) %>
      </div>
    </div>
                
    <div id="block-two" class="eight columns">
        <% category = get_category(product) %>
        <div id="head-one" class="eight columns alpha" >
          <% new_params = params.clone %>
          <%= link_to new_params.merge!({:controller => :products, :action => :show , :id => product.permalink}), {:class => "product-name name_with_recomended_icon"} do %>
            <span itemprop="name"><%= truncate(product.name, :length => 35, :omission => "...") %></span>
          <% end %>
          <% if product.recomended == true %>
              <div id="icon-recomended-<%= category %>" title="<%= t('recomended') %>"></div>
          <% end %>
        </div>
        <div id="head-two" class="eight columns alpha" >
            <ul id="product-head">
                <li>
                  <ul class="product-data">
                    <li class="icon-calendar"></li>
                    <% d = get_property_value(product, "#{category}-days") %>
                    <li class="product-info-value"><%= d %> <%= d.to_i > 1 ? t('days') : t('day') %></li>
                  </ul>
                </li>
                <li>
                    <ul class="product-data">
                      <li class="icon-destination" title="<%= t('destination') %>"></li>
                      <li><%= my_destination(product) %></li>
                    </ul>
                </li>
                <li>
                    <ul class="product-data">
                        <% if get_vat(product, "#{category}-flight") %>
                          <li class="icon-airplane" title="<%= t('flight') %>"></li>
                        <% end %>
                        <% if get_vat(product, "#{category}-accommodation") %>
                          <li class="icon-hotel" title="<%= t('accommodation') %>"></li>
                        <% end %>
                        <% if get_vat(product, "#{category}-transfer") %>
                          <li class="icon-car" title="<%= t('transfer') %>"></li>
                        <% end %>
                    </ul>
                </li>
                <li>
                    <ul class="product-data">
                        <li class="icon-tripadvisor-<%= product.get_stars[:star].to_s.gsub(".", "-")%>"></li>
                        <li class="product-info-value"><%= product.get_stars[:rcount]%> <%= opinion(product.get_stars[:rcount]) %></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="description" class="eight columns alpha product-text" >
            <%= truncate( product.small_description.gsub(/<[^>]*>/,'')  , :length => 200, :omission => "...") %>
            <!--<label class="product-info-in"> | In: </label><%#= link_to taxon.name, seo_url(taxon), :class=>"product-link-in" %>-->
        </div>

        <%= render(:partial => "spree/shared/product_list_price_detail", :locals => { :product => product, :type => category, :params => params}) %>

        <div class="four columns omega">
            <ul id="options">
                <% product.properties[0..2].each do |p| %>
                    <% if p.property_type_id == Spree::PropertyType.find_by_name("#{category} Include").id and p.presentation.length < 40 %>
                      <li><ul class="four columns alpha product-option"><li class="icon-check"></li><li class="product-info"><%= p.presentation %></li></ul></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
  </li>

