<%
  #paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products = products
%>

<% if products.empty? %>
  <%= t('no_products_found') %>
<% elsif params.key?(:keywords) %>
  <div id="search-results" class="columns twelve">
      <label class="search-results-label"><%= @total %> <%= t(:search_results, :keywords => h(params[:keywords])).html_safe %></label>
      <% new_params = params.clone
         new_params.delete(:items_per_page)
      %>
      <%= form_tag( new_params.merge!({:controller => :home, :action => :index, :page => 1}), :class => 'locale', :id => 'form-per-page') do %>
          <label id="label-per-page-home"><%= t('show')%>
            <%= select_tag :items_per_page, options_for_select([10, 20, 30, 50, 100], @per_page), :onchange => 'this.form.submit()' %>
          </label>
          <%= submit_tag 'submit' %>
          <%= javascript_tag "$('.locale input').hide();" %>
      <% end %>
  </div>
<% end %>

<% if products.any? %>
    
    <ul id="products" class="inline product-listing" data-hook>
      <% products.each do |product| %>
          <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
              <% home = home || nil %>
              <%= product_view_distributer(product, taxon, home) %>
          <% end %>
      <% end %>
    </ul>

<% end %>

<% if paginated_products.respond_to?(:num_pages)
      params.delete(:search)
      params.delete(:taxon)
%>
    <%= paginate paginated_products, :taxon => taxon  %>
<% end %>