<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
    <div class="columns alpha eleven review_author" itemprop="review">
	  <% if Spree::Config[:show_email] && review.user %>
	    <p class="author" itemprop="author"><strong><%= review.user.email %></strong>
	  <% else %>
	    <p class="author" itemprop="author"><strong><%= raw review.name %></strong>
	  <% end %>
        <span itemprop="datePublished"><%= t('submitted_on') %> (<%= review.created_at.to_date %>)</span>
        </p>
      <div class="single_rating_holder">
         <meta itemprop="reviewRating" content="<%= review.rating %>" />
         <%= render :partial => "spree/shared/single_rating", :locals => {:review => review} %>
      </div>
    </div>
	<div class="columns alpha eleven review_body" itemprop="reviewBody">
		<%= raw simple_format(review.review) %>
	</div>
</div>
