<%# @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%#= form_tag products_url, :method => :get do %>
  <%#= select_tag :taxon,
        options_for_select([[t('all_departments'), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                            @taxon ? @taxon.id : params[:taxon]) %>
  <%#= search_field_tag :keywords, params[:keywords], :placeholder => t('search') %>
  <%#= submit_tag t('search'), :name => nil %>
<%# end %>

<!-- En esta implentación se asume que la primera taxonomía es por la
que se desea hacer la búsqueda,
ejemplo en Joana la debe ser Destino la primera taxonomia-->
<%# @top = Spree::Taxonomy.first.root %>
<%# @taxon = @top unless @taxon && @taxon.permalink.split('/')[0] == @top.permalink  %>
<%# @taxons = @taxon && @taxon.parent ? @taxon.children: @top.children %>
<%#= form_tag products_url, :method => :get do %>
    <%#= select_tag :taxon,
       options_for_select([[ @taxon && @taxon.parent && @taxon.parent.name || @top.name,
                             @taxon && @taxon.parent && @taxon.parent.id   || @top.id    ]] +
                          [[ "." + (@taxon && @taxon.name).to_s, @taxon && @taxon.id]].delete_if { @taxon.nil? || @taxon == @top } +
                              @taxons.map { |t| ["." + ["."].delete_if { @taxon.nil? || @taxon == @top }.to_s + t.name, t.id] },
                          @taxon ? @taxon.id : params[:taxon]) %>


    <%#= search_field_tag :keywords, params[:keywords], :placeholder => t('search') %>
    <%#= submit_tag t('search'), :name => nil %>
<%# end %>

<!-- En esta implentación se asume que la primera taxonomía es por la
que se desea hacer la búsqueda,
ejemplo en Joana la debe ser Destino la primera taxonomia-->
<% @top = Spree::Taxonomy.first.root %>
<% @taxon = @top unless @taxon && @taxon.permalink.split('/')[0] ==
        @top.permalink  %>
<% @taxons = @taxon && @taxon.parent ? @taxon.children: @top.children %>
<%= form_tag products_url, :method => :get do %>
    <%= select_tag :taxon,
                   options_for_select([[ @taxon && @taxon.parent && @taxon.parent.name || @top.name,
                                         @taxon && @taxon.parent && @taxon.parent.id   || @top.id    ]] +
                                      [[ "." + (@taxon && @taxon.name).to_s, @taxon && @taxon.id]].delete_if { @taxon.nil? || @taxon == @top } +
                                          @taxons.map { |t| ["." + ["."].delete_if { @taxon.nil? || @taxon == @top }.to_s + t.name, t.id] },
                                      @taxon ? @taxon.id : params[:taxon]) %>

    <% params[:search] ||= {} %>
    <!--<select id="search" name="search[]">-->
      <!--<option value="" >ascend_by_master_price</option>-->
      <!--<option value="" >descend_by_master_price</option>-->
    <!--</select>-->



    <%= select_tag :search,
                   options_for_select([[:ascend_by_master_price  ]] +
                                      [[:descend_by_master_price ]],
                                      params[:search][:descend_by_master_price]) %>


    <%= search_field_tag :keywords, params[:keywords],
                         :placeholder => t('search') %>
    <%= submit_tag t('search'), :name => nil %>
<% end %>

