<nav id="top-bar" class="columns omega">
  <ul id="top-bar-items">
    <li>
      <ul>
        <li id="block-auth-search">
          <ul id="links-top">
            <% if current_user %>
                <li id="cuenta"><%= link_to t('my_account'), account_path %></li>
                <li id="cuenta"><%= link_to t('logout'), destroy_user_session_path %></li>
            <% else %>
                <li id="cuenta">
                    <div><a href="#" onclick="loginOverlay('backlogin', 'backregister')"><%= t('login') %></a></div>
                </li>
                <li id="registro">
                    <div><a href="#" onclick="loginOverlay('backregister', 'backlogin')"><%= t('register') %></a></div>
                </li>
            <% end %>
            <li id="contacto"><%= link_to t('contact_us'), '/contact' %></li>
            <li id="idioma-es" <% if I18n.locale == :es %> class="active-language" <% end %> >
              <%= link_to image_tag('flags/es.png'), :controller => :locale, :action => :set, :locale => 'es' %>
            </li>
            <!--<li id="idioma-en" <%# if I18n.locale == :en %> class="active-language" <%# end %> >
              <%#= link_to image_tag('flags/gb.png'), :controller => :locale, :action => :set, :locale => 'en' %>
            </li>-->
            <li id="moneda"><a><%= t('currency') %></a></li>
            <li id="moneda-eur" <% if Spree::Currency.current.char_code =='EUR' %> class="active-currency" <% end %> >
              <%= link_to "eur", currency_path(:eur) %>
            </li>
            <li id="moneda-usd" <% if Spree::Currency.current.char_code =='USD' %> class="active-currency" <% end %> >
              <%= link_to "usd", currency_path(:usd) %>
              <% Log.debug("la moneda seteada es #{session[:currency_id]}") %>
            </li>
          </ul>
          <ul>
            <li id="buscador">
                <form class="art-search" method="get" name="searchform" action="/">
                    <%= search_field_tag :keywords, params[:keywords], :placeholder => t('search'), :class => "art-search-text"%>
                    <input class="art-search-button" type="submit" value="" />
                </form>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li id="facebook"><a href="http://www.facebook.com/grandslamcuba"></a></li>
        <li id="twitter"><a href=" http://twitter.com/GrandSlamCuba"></a></li>
      </ul>
    </li>
    <%= link_to cart_path do %>
        <li id="maleta">
          <ul>
            <li id="iconmiviaje">
              <p class="cart_count"><%= cart_count %></p>
              <div id="icon-car"></div>
              <p class="my_travel"><%= t('my_trip') %></p>
            </li>
            <li id="price">
              <p><%= link_to_cart %></p>
            </li>
          </ul>
        </li>
    <% end %>
  </ul>
</nav>

<%# if flash[:alert] %>
    <!--<div class="flash errors"><%#= flash[:alert] %></div>-->
<%# end %>

<%
   if controller.controller_name == "home"
     current_path = root_path
   elsif controller.controller_name == "taxons"
     current_path = nested_taxons_path(@taxon.permalink)
   elsif controller.controller_name == "products"
     # TODO: revisar este link con raul, es probable que haya que pasarle los params de alguna forma
     current_path = "/products/" + @product.permalink
   elsif controller.controller_name == "orders"
     current_path = checkout_path
   else
     current_path = root_path
   end
%>

<% @body_id = 'login' %>

<!-- overlayed element -->
<div id="backlogin" class=<%= "back_overlay" if params[:login_error].nil?  %> >
  <div class="contentWrap" id="overlaylogin">
    <div id="existing-customer">
      <div class="head_login">
        <%= image_tag('store/img_trans.gif', :size => "1x1")%>
        <h6 class="title_user"><%= t('my_account') %></h6><br/><br/>
      </div>
      <div data-hook="login">
        <%#= render :partial => 'spree/shared/login' %>
        <%= form_for :user, :url => spree.user_session_path do |f| %>
            <%= hidden_field_tag  "current", current_path %>
            <div id="password-credentials">
              <p>
                <%= f.label :email, t('email') %><br />
                <%= f.email_field :email, :class => 'title' %>
              </p>
              <p>
                <%= f.label :password, t('password') %><br />
                <%= f.password_field :password, :class => 'title' %>
              </p>
            </div>
            <p>
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, t('remember_me') %>
              </label>
            </p>
            <% if params[:login_error] %>
                <p class="red_error"><%= t('login_failed') %></p>
            <% end %>
            <p><%= f.submit t('login'), :id => "button-login" %></p>
        <% end %>
        <a href="#" onclick="loginOverlay('backregister', 'backlogin')"><%= t('register') %></a> | <a href="#" onclick="loginOverlay('backforgot', 'backlogin')"><%= t('forgot_password') %></a>
        <a href="#" onclick="closeOverlay('backlogin')" class="close-login"><%= t('close') %></a>
      </div>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>

<% @body_id = 'signup' %>

<!-- overlayed element -->
<div id="backregister" class=<%= "back_overlay" if params[:registration_error].nil?  %> >
  <div class="contentWrap" id="overlayregister">
    <!-- the external content is loaded inside this tag -->
    <div id="new-customer">
      <div class="head_login">
        <%=image_tag('store/img_trans.gif', :size => "1x1")%>
        <h6 class="title_user"><%= t('register') %></h6><br/><br/>
      </div>
      <div data-hook="signup">
        <%= form_for :user, :url => spree.user_registration_path(@user) do |f| %>
            <%= hidden_field_tag  "current", current_path %>
            <div data-hook="signup_inside_form">
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <% if params[:registration_error] %>
                  <p class="red_error"><%= t('registration_failed') %></p>
              <% end %>
              <p><%= f.submit t('create'), :id => "button-register" %></p>
            </div>
        <% end %>
        <a href="#" onclick="loginOverlay('backlogin', 'backregister')"><%= t('login') %></a>
        <a href="#" onclick="closeOverlay('backregister')" class="close-login"><%= t('close') %></a>
      </div>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>


<div id="backforgot" class="back_overlay">
  <div class="contentWrap" id="overlayforgot">
    <div id="forgot-customer">
      <div class="head_login">
        <%=image_tag('store/img_trans.gif', :size => "1x1")%>
        <h6 class="title_user"><%= t('forgot_password') %></h6><br/><br/>
      </div>
      <div>
        <p><%= t('instructions_to_reset_password') %></p>
        <%= form_for Spree::User.new, :as => :user, :url => spree.user_password_path do |f| %>
            <%= hidden_field_tag  "current", current_path %>
            <p>
              <%= f.label :email, t('email') %><br />
              <%= f.email_field :email %>
            </p>
            <p>
              <%= f.submit t('reset_password'), :id => "button-forgot" %>
            </p>
        <% end %>
        <a href="#" onclick="closeOverlay('backforgot')" class="close-login"><%= t('close') %></a>
      </div>
    </div>
  </div>
</div>
