<%= render 'spree/admin/shared/configuration_menu' %>

<h2><%= t('general_import') %></h2>

<div class="toolbar" data-hook="toolbar">
    <ul class="actions">
        <li>
            <%= button_link_to t('import_data_from_openerp'), '/admin/openerp/import_data' %>
        </li>
    </ul>
    <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_taxonomy_from_openerp'), '/admin/openerp/import_taxonomy' %>
    </li>
  </ul>
  <br class="clear">
</div>

<h3><%= t('product_import') %></h3>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
            <%= button_link_to t('import_all_products'), '/admin/openerp/import_all_products' %>
    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>

      <legend><%= t('import_one_product') %></legend>
      <div style="float:left; width:65%; margin-right:5%;" data-hook="add_product_name">
        <%= label_tag :add_product_name, t('name_or_sku') %>
        <%= text_field_tag :add_product_name, nil, :class => 'fullwidth title' %>
      </div>
      <div style="float: left; width: 15%; padding-top: 17px;" data-hook="add_button">
        <%= button_link_to t('import'), '/admin/openerp/import_one_products' %>
      </div>

    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_product_taxonomy'), '/admin/openerp/import_product_taxonomy' %>
    </li>
  </ul>
  <br class="clear">
</div>

<h3><%= t('route_import') %></h3>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_all_routes'), '/admin/openerp/import_all_routes' %>
    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>

      <legend><%= t('import_one_route') %></legend>
      <div style="float:left; width:65%; margin-right:5%;" data-hook="add_product_name">
        <%= label_tag :add_route_name, t('name_or_sku') %>
        <%= text_field_tag :add_route_name, nil, :class => 'fullwidth title' %>
      </div>
      <div style="float: left; width: 15%; padding-top: 17px;" data-hook="add_button">
        <%= button_link_to t('import'), '/admin/openerp/import_one_route' %>
      </div>

    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_route_taxonomy'), '/admin/openerp/import_route_taxonomy' %>
    </li>
  </ul>
  <br class="clear">
</div>

<h3><%= t('destiny_import') %></h3>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_all_destinies'), '/admin/openerp/import_all_destinies' %>
    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>

      <legend><%= t('import_one_destiny') %></legend>
      <div style="float:left; width:65%; margin-right:5%;" data-hook="add_product_name">
        <%= label_tag :add_destiny_name, t('name_or_sku') %>
        <%= text_field_tag :add_destiny_name, nil, :class => 'fullwidth title' %>
      </div>
      <div style="float: left; width: 15%; padding-top: 17px;" data-hook="add_button">
        <%= button_link_to t('import'), '/admin/openerp/import_one_destiny' %>
      </div>

    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_destiny_taxonomy'), '/admin/openerp/import_destiny_taxonomy' %>
    </li>
  </ul>
  <br class="clear">
</div>

<h3><%= t('point_import') %></h3>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_all_points'), '/admin/openerp/import_all_points' %>
    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>

      <legend><%= t('import_one_point') %></legend>
      <div style="float:left; width:65%; margin-right:5%;" data-hook="add_product_name">
        <%= label_tag :add_point_name, t('name_or_sku') %>
        <%= text_field_tag :add_point_name, nil, :class => 'fullwidth title' %>
      </div>
      <div style="float: left; width: 15%; padding-top: 17px;" data-hook="add_button">
        <%= button_link_to t('import'), '/admin/openerp/import_one_point' %>
      </div>

    </li>
  </ul>
  <br class="clear">
</div>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('import_point_taxonomy'), '/admin/openerp/import_point_taxonomy' %>
    </li>
  </ul>
  <br class="clear">
</div>

