<div data-hook="product_links">
    <% unless @product.points_of_interest.empty? %>
        <h6 class="product-section-title"><%= t('links') + " - " + @product.bottom_taxon_name %></h6>
        <table id="product-properties" class="table-display" data-hook width="100%">
            <tbody>
                <%= product_link('hotel', :even) %>
                <%= product_link('rent-a-car', :odd) %>
                <%= product_link('package', :even) %>
                <%= product_link('transfer', :odd) %>
                <%= product_link('tour', :even) %>
                <%= product_link('route-on-vehicle', :odd, 'routes') %>
                <%= product_link('route-on-bicycle', :even, 'routes') %>
                <%= product_link('route-on-foot', :odd, 'routes') %>
            </tbody>
        </table>
    <% end %>
</div>

