<ul id="products" >
  <% products_related.each do |product| %>
    <li id="product_<%= product.id %>" class="columns alpha omega eleven show-in" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">

        <div id="block-one-room" class="columns alpha four">
          <div class="product-image">
            <%= product_image_index(product) %>
          </div>
        </div>

        <div id="block-two-room" class="columns omega seven">
          <div id="head-one" class="columns alpha omega seven" >
            <ul id="information">
              <li class="product-name-no-link" itemprop="name"><%= t('category') %> <%= product.name %></li>
            </ul>
          </div>

          <div id="head-two" class="columns alpha omega seven" >
            <ul id="product-head">
              <li class="rent">
                <ul class="product-data">
                  <li class="icon-door"></li>
                  <li><%= get_vat(product, 'puertas', 'int') %></li>
                </ul>
              </li>
              <li class="rent">
                <ul class="product-data">
                  <li class="icon-pax"></li>
                  <li><%= get_vat(product, 'cantidad-de-personas', 'int') %></li>
                </ul>
              </li>
              <li class="rent">
                <ul class="product-data">
                  <li class="icon-bag"></li>
                  <li><%= get_vat(product, 'cantidad-de-maletas', 'int') %></li>
                </ul>
              </li>
              <% if get_vat(product, 'aire-acondicionado') %>
                  <li class="rent">
                    <ul class="product-data">
                       <li class="icon-ac"></li>
                    </ul>
                  </li>
              <% end %>
              <li class="rent">
                <ul class="product-data">
                  <li class="icon-check"></li>
                  <li class="product-info"><%= get_vat(product, 'combustible', 'str') %></li>
                </ul>
              </li>
            </ul>
          </div>

          <div id="box-ida" class="columns alpha omega seven description-transfer" >
            <ul>
              <li class="icon-destination"></li>
              <li>
                <ul class="product-data">
                  <li class="product-info"><%= t('avaiable_in_all_destinies')%></li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="rent-cart">
            <%= render(:partial => "spree/products/cart_form", :locals => { :product => product, :type => "rent" }) %>
          </div>

        </div>
      </li>
  <% end %>
</ul>