<div id="detail-rooms" class="columns eleven row" data-hook='product_right_part'>

  <p class="product-detail-title-options"><%= t('rooms') %></p>
  <ul id="rooms">
    <% rooms.each do |room| %>
    <li class="item-room">
      <%# if !room.images.empty? %>
          <!--<div id="block-one-room" class="four columns alpha">
            <div class="product-image alpha">
              <%#= link_to (image_tag room.parent.images[rand(room.parent.images.length)].attachment.url(:product)), room  %>
            </div>
          </div>-->
      <%# end %>

      <div id="block-two-room" class="seven columns omega">
        <div class="seven columns alpha" >
          <ul id="information">
            <li class="product-name-no-link" itemprop="name"><%= room.name.split(' | ')[0] %></li>
            <!--<li><%#= link_to room.name.split(' | ')[0], room, :class => "product-name" %></li>-->
          </ul>
        </div>
      </div>

      <%#= render(:partial => "spree/shared/product_list_price_detail", :locals => { :product => room }) %>

      <div id="details" class="two columns" >
        <%
           data_context = variant_and_price_with_context(room, params)
           variant = !data_context.nil? ? data_context['variant'] : nil
           price = !data_context.nil? ? data_context['price'] : nil
           values = !data_context.nil? ? data_context['customization'] : {}
        %>
        <% if !price.nil? %>
            <div id="price" class="columns two" style="margin-left: 0px; margin-top: 20px;">
              <p class="product-price" itemprop="price"><%= price %></p>
            </div>
        <% end %>
        <%= form_for :order, :url => populate_orders_url do |f| %>
            <% current_path = "/products/" + room.parent.permalink %>
            <%= hidden_field_tag  "url_before_cart", current_path %>
            <% if variant %>
                <%= hidden_field_tag  "variants[#{variant.id}]", 1, :class => 'title' %>
                <%= hidden_field_tag  "contexts[#{variant.id}]", pass_context(room, variant, params) %>
                <div data-hook="product_price">
                  <div class="add-to-cart">
                    <%= button_tag :class => 'primary add-to-cart-button' do %>
                        <ul id="product-buy-icon">
                          <li class="icon-buy" />
                        </ul>
                        <ul id="product-buy-text">
                          <li class="product-text-button"><%= t('add') %></li>
                        </ul>
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="columns seven omega">
        <ul id="amenities">
          <li class="three columns alpha"><label class="product-info"><%= t('level_of_service') %>: </label><p class="product-info-value"><%= get_property_value(room, 'nivel-de-servicio') %></p></li>
          <li class="three columns alpha"><label class="product-info"><%= t('property') %>: </label><p class="product-info-value"><%= get_property_value(room, 'tipo-de-propiedad') %></p></li>
          <li class="three columns alpha"><label class="product-info"><%= t('confort') %>: </label><p class="product-info-value"><%= get_property_value(room, 'confort') %></p></li>
          <li class="three columns alpha"><label class="product-info"><%= t('view') %>: </label><p class="product-info-value"><%= get_property_value(room, 'vista') %></p></li>
          <!--<li class="three columns alpha"><label class="product-info"><%#= t('ubication') %>: </label><p class="product-info-value"><%#= get_property_value(room, 'ubicacion') %></p></li>-->
        </ul>
      </div>

    </li>
    <% end %>
  </ul>

</div>



