<% content_for :sidebar do %>
    <div>
      <%#= render :partial => 'spree/shared/recomendation', :locals => { :taxon => @taxon } %>
      <%= render :partial => 'spree/home/facebook', :locals => { :taxon => @taxon } %>
    </div>
<% end %>


<!--<ul id="products" class="inline product-listing" data-hook>-->
<ul id="promos" class="inline promo-listing" data-hook>
  <% if @all_promotions %>
    <% @all_promotions.each do |promotion| %>
          <li id="promo-<%= promotion.id %>" data-hook="promos_list_item" itemscope itemtype="http://schema.org/Product">
            <div id="block-one" class="four columns">
              <div class="promo-image">
                <%= if promotion.attachment
                     image_tag promotion.attachment.url(:index)
                   end %>
              </div>
            </div>

            <div id="block-two" class="eight columns">
              <div id="head-one" class="eight columns alpha" >
                <%= link_to promotion.name, "/promo/show/#{promotion.id}", :class =>"promo-name" %>
              </div>
              <div id="head-two" class="eight columns alpha" >
                <ul id="promo-head">
                </ul>
              </div>
              <!-- TODO: mover la clase product-text hacia abajo -->
              <div id="description" class="eight columns alpha promo-text" >
                <%= truncate( promotion.description.to_s.gsub(/<[^>]*>/,''), :length => 200, :omission => "...")   %>
              </div>
              <div id="details" class="two columns alpha" >
                <%= link_to "/promo/show/#{promotion.id}", :class => "go-to-detail-button" do %>
                    <ul id="product-detail-icon">
                      <li class="icon-detail" />
                    </ul>
                    <ul id="product-detail-text">
                      <li class="product-text-button"><%= t('details') %></li>
                    </ul>
                <% end %>
              </div>
            </div>
   <% end %>
  <% else %>
    <%= t('no_promotion_found') %>
  <% end %>
  </ul>
    