
<div id="cart-header" class="columns alpha omega twelve">
    <p><%= @page.title %></p>
</div>

<%= render :partial => 'spree/shared/search_box' %>

<% if @page.slug == '/about' %>
    <div class="columns alpha five">
      <% product = Spree::Product.find_by_permalink('destinations-cuba-la-habana-la-habana-oeste') %>
      <div style="border: 3px solid #c5c5c5; height: 194px; margin-top: 5px;">
        <%= image_tag product.images[0].attachment.url(:product) %>
      </div>
      <br>
      <%= render :partial => 'spree/products/thumbnails', :locals => { :product => product } %>
    </div>
    <div id="page_content" class="columns alpha omega seven" style="background-color: #f2f2f2; padding: 0px 10px; margin-top: 5px;" >
      <%= raw @page.body %>
    </div>
<% else %>
    <div id="page_content" class="columns alpha omega eleven" style="background-color: #f2f2f2; padding: 0px 10px; margin-top: 5px; width: 680px;" >
      <%= raw @page.body %>
    </div>
<% end %>



