<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t('editing_property_type') %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @property_type } %>

<%= form_tag object_url(@property_type), :method => :put do %>
    <%= render :partial => 'form' %>

    <p class="form-buttons" data-hook="buttons">
      <%= button t('actions.update') %>
      <%= t('or') %> <%= link_to t('actions.cancel'), collection_url %>
    </p>
<% end %>
