<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t('new_property_type'), "/spree/admin/property_types/new", :icon => 'add' %>
    </li>
  </ul>
  <br class="clear" />
</div>
<h1><%= t('property_types') %></h1>
<table class="index">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('show') %></th>
      <th><%= t('action') %></th>
    </tr>
  </thead>
  <tbody>
    <% @property_types.each do |property_type| %>
    <tr id="<%= dom_id property_type %>">
        <td><%= property_type.name %></td>
        <td><%= property_type.show_type %></td>
        <td>
            <%= link_to_edit property_type %> &nbsp;
            <%= link_to_delete property_type %>
        </td>
    </tr>
<% end %>
  </tbody>
</table>

