<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t('new_property_type') %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tax_rate } %>

<%= form_tag object_url(@property_type), {:method => :post} do  %>
    <%= render :partial => 'form' %>

    <p class="form-buttons" data-hook="buttons">
      <%= button t('actions.create') %>
      <%= t('or') %> <%= link_to t('actions.cancel'), collection_url %>
    </p>
<% end %>
