<div>
  <span class="price selling" itemprop="price" data-product-hook="<%= product.id %>"
        <% if params[:controller] == 'spree/products' && params[:action] == 'show' %>
            data-room-hook="<%= option_value_id  %>"
        <%end%> >
    <%#= image_tag 'ajax-loader.gif' %>
    <%combination = display_combination_price(product)%>
    Price: <%= combination.first[:price] * (params[:hotel_end_date].to_date - params[:hotel_start_date].to_date).to_i * params[:hotel_rooms].to_i %><br/>
    Meal Plan: <%= Spree::OptionValue.find( combination.first.rate.plan).presentation%><br/>
    Room: <%= combination.first.rate.variant.option_values.first.presentation %><br/>

  </span>
  <span itemprop="priceCurrency" content="<%= product.currency %>"><%= product.currency %></span>
</div>

