<div>
  <span class="price selling ajax-price-room" itemprop="price" data-product-hook="<%= product.id %>"
        <% if params[:controller] == 'spree/products' && params[:action] == 'show' %>
            data-room-hook="<%= option_value_id  %>"
        <%end%> >
    <%= image_tag 'ajax-loader.gif' %>
  </span>
  <span itemprop="priceCurrency" content="<%= product.currency %>"><%= product.currency %></span>
</div>

