<%
   kls = "col-md-12 product-item"
   new_params = params.clone
   new_params.merge!({:controller => "spree/products", :action => "show" , :id => product.slug})
   otro_params = new_params.clone
%>
<!-- TODO 13/10/2014 Check if the data-hook2 attribute holds the right value -->
<li id="product_<%= product.id %>" class="<%= kls %>" data-hook2="product_<%=product.product_type%>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
  <div class="col-md-2">
    <%= link_to small_image(product, :itemprop => "image"),  new_params, :itemprop => 'url' %>
  </div>
  <div class="col-md-10">
      <div class="product-title">
        <%= link_to(new_params, :class => 'info', :itemprop => "name", :title => product.name) do %>
            <%= product.name %>
        <%end%>
      </div>
      <div class="product-destination">
        <%= link_to product.destination, product.destination_taxon %>
      </div>
      <div class="product-mini-description">
        <%= truncate(product.description, :length => 300)%>
      </div>

    <div>
  <span class="price selling" itemprop="price" data-product-hook="<%= product.id %>"
        <% if params[:controller] == 'spree/products' && params[:action] == 'show' %>
            data-room-hook="<%#= option_value_id  %>"
        <%end%> >
    <%#= image_tag 'ajax-loader.gif' %>
    <%combination = display_combination_price(product)%>
    Price: <%= combination.first[:price] * (params[:hotel_end_date].to_date - params[:hotel_start_date].to_date).to_i * params[:hotel_rooms].to_i %>
    <span itemprop="priceCurrency" content="<%= product.currency %>"><%= product.currency %></span>
    <br/>

    Meal Plan: <%= Spree::OptionValue.find( combination.first.rate.plan).presentation%><br/>
    Room: <%= combination.first.rate.variant.option_values.first.presentation %><br/>
    <%= hidden_field_tag "variant_id", combination.first.rate.variant.id %>


  </span>

    </div>


    <div id="cart-form" data-hook="cart_form">
        <%= render :partial => 'spree/products/cart_form', :locals => {:product => product, :variant_id => combination.first.rate.variant.id, :mini => true} %>
      </div>
  </div>
</li>
