<%= kls = "columns twelve product-item"%>
<li id="product_<%= product.id %>" class="<%= kls %>" data-hook="product_<%=product.product_type.prefix%>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
  <div class="product-image">
    <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
  </div>
  <div class="product-title">
    <%= link_to product.name, product, :class => 'info', :itemprop => "name", :title => product.name %>
  </div>
  <div class="product-mini-description">
    <%= truncate(product.description, :length => 300)%>
  </div>
    <div class="details">
	  <p class="stock"><%= product.has_stock? ? "IN STOCK" : "OUT OF STOCK" %></p>
	  <p class="prices">
	    <span class="price discounted"><%= number_to_currency(product.price * 1.2) %></span>&nbsp;
	    <span class="price selling"><%= number_to_currency(product.price) %></span></p>
	  <p>
    <%= link_to 'View More', product_path(product), :class => 'button' %></p>
  </div>
</li>
