<% kls = "columns twelve product-item"%>
<li id="product_<%= product.id %>" class="<%= kls %>" data-hook2="product_<%=product.product_type.prefix%>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
  <div class="product-image">
    <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
  </div>
  <div class="product-title">
    <%= link_to product.name, product, :class => 'info', :itemprop => "name", :title => product.name %>
  </div>
  <div class="product-mini-description">
    <%= truncate(product.description, :length => 300)%>
  </div>
  <span class="price">
    <%= number_to_currency(product.price) %>
  </span>
</li>
