<% active_product = params[:product_type] %>
<%# active = Spree::Product.find_by_slug(params[:id]).product_type.name %>

<div id="search_box" class="twelve columns">
  <%= form_tag({:controller => :home, :action => :index}, {:method => :get, :id => :home_search_box}) do %>

<ul id="search_box_tabs" class="nav nav-tabs">
  <% Spree::ProductType.enabled.each do |p| %>
    <%
      prefix = "#{p.name.downcase}_"
      if active_product
        if active_product == p.name.downcase
          active_class = 'active'
        else
          active_class = ''
        end
      else
        active_class = 'active'
        active_product = p.name.downcase
      end
    %>
    <%= content_tag :li, class: active_class, role: 'presentation'  do %>
      <a data-toggle="tab" role="tab" href='#<%="#{prefix}"%>fields' name=<%="#{p.name}"%> >
        <%#= Spree.t(p.presentation) %>
        <%= p.presentation %>
      </a>
    <% end %>
  <% end %>
</ul>

<input type="hidden" id="the_product_type" name="product_type" value="<%= active_product %>">

    <div id="tabcontent" class="tab-content">
      <% Spree::ProductType.enabled.each do |p| %>
        <% prefix = "#{p.name.downcase}_" %>
        <!-- TODO esto es para poner valores por defecto, pero no creo que est'e bien
        porque no se adapta a todos los escenarios adem'as de ejecutarce X cada ProductType  -->
        <%
          params["#{prefix}start_date"] ||= Time.now.to_date
          params["#{prefix}end_date"] ||= Time.now.to_date + 3
          params["#{prefix}adult"] ||= 2
          params["#{prefix}child"] ||= 1

          if p.name.downcase == active_product
            active_tab = 'active'
          else
            active_tab = ''
          end
          unless @product.nil?
            function_name = "fill_cart_hiddens(#{@product.id})"
          end
        %>
        <div id='<%="#{prefix}fields"%>' class="tab-pane <%= active_tab %>" role="tabpanel">
          <ul class="alpha twelve columns omega" >
            <li class="eleven columns search_box_row">
              <div class="two columns search_box_left">
                <%= label_tag :the_keywords, Spree.t(:keywords) %>
              </div>
              <div class="eight columns search_box_right">
                <%= text_field_tag :keywords, params[:keywords], :placeholder => 'Search', :class => "#{prefix}inputs" %>
              </div>
            </li>
    	    <% p.search_box_option_types.each do |ot| %>
            <% tag_name = prefix + ot.name %>
    	      <li class="eleven columns search_box_row">
              <div class="two columns search_box_left">
    	          <%= label_tag tag_name, Spree.t(ot.presentation) %>
              </div>
              <div class="eight columns search_box_right">
      	        <% current_value = params[tag_name] %>
      	        <% if ot.attr_type == 'selection' %>
                  <% options = ot.option_values.map { |ov| [ov.presentation, ov.id] } %>
      	          <%= select_tag tag_name, options_for_select(options, current_value),
                    :class => "select2 #{prefix}selects",
                    :prompt => "-- Select #{ot.presentation}--",
                    'onchange' => function_name %>
                <% elsif ot.attr_type == 'destination' %>
                  <% dests = Spree::Taxonomy.find_by_name('Destination').root.children.map { |ov| [ov.name, ov.id] } %>
                  <% dest_id = params[tag_name] %>
                  <%= select_tag tag_name, options_for_select(dests, dest_id),
                    :prompt => "-- Select #{ot.presentation} --",
                    :class => "select2 #{prefix}selects" %>
      	        <% elsif ot.attr_type == 'integer' %>
      	          <%= number_field_tag tag_name, current_value, :class => "#{prefix}inputs", 'onchange' => function_name %>
      	        <% elsif ot.attr_type == 'float' %>
      	          <%= number_field_tag tag_name, current_value , :class => "#{prefix}inputs", 'onchange' => function_name %>
      	        <% elsif ot.attr_type == 'boolean' %>
      	          <%= check_box_tag tag_name, 1, :class => "#{prefix}inputs", 'onchange' => function_name %>
      	        <% elsif ot.attr_type == 'date' %>
      	          <%= text_field_tag tag_name, current_value, :class => "datepicker #{prefix}inputs", 'onchange' => function_name %>
      	        <% else %>
      	          <%= text_field_tag tag_name, current_value, :class => "#{prefix}inputs", 'onchange' => function_name %>
      	        <% end %>
              </div>
    	      </li>
    	    <% end %>
          <li class="eleven columns search_box_row">
            <div class="two columns search_box_left">
              <%= check_box_tag prefix + 'change_visibility', 'yes', false, class: 'visibility_check_box' %>
            </div>
            <div class="eight columns search_box_right">
              <%= label_tag prefix + 'change_visibility', Spree.t(:show_only_available_products) %>
            </div>
          </ul>
        </div>

      <% end %>
    </div>
    <%= submit_tag Spree.t('search'), :id => :submit %>
    <input type="button" value="Update Price" id='update_price' />
  <% end %>
</div>
