<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table id="cart-detail" data-hook>
  <thead>
    <tr data-hook="cart_items_headers">
      <th id="cart-items-header-name" class="cart-body-title" colspan="4"><%= t('products_to_buy') %></th>
      <th id="cart-items-header-price" class="cart-body-title"><%= t('price') %></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
    <% end %>
  </tbody>
</table>
