<%= form_tag('/spree/orders/create_order_without_product') do %>

    <div id="cart-header">
      <p><%= t('new_order') %>:</p>
    </div>

    <div id="order-data">

      <p><%= t('description') %></p>
      <%= text_area_tag 'description' %>

      <p><%= t('name') %></p>
      <%= text_field_tag 'email' %>

      <p><%= t('email') %></p>
      <%= email_field_tag 'email' %>

      <p><%= t('price') %></p>
      <%= number_field_tag 'price' %>

      <p><%= t('currency') %></p>
      <%= select_tag 'currency', options_for_select(['USD', 'EUR']) %>

      <p><%= t('subdomain') %></p>
      <%= select_tag 'subdomain', options_for_select(['CU', 'ES', 'FR', 'RU', 'UK', 'CA']) %>

    </div>

    <div id="buttons-order-wp">
       <%= submit_tag t('pay_now'), :name => 'pay_now' %>
       <%= submit_tag t('pay_later'), :name => 'pay_later' %>
    </div>

<% end %>
